flows_raspberrypi.json
[{"id":"dd739083.550c8","type":"tab","label":"Config & Setup","disabled":false,"info":""},{"id":"261967fc.c52618","type":"tab","label":"Configuration UI","disabled":false,"info":""},{"id":"11fe1e85.4e60e1","type":"tab","label":"Passage Monitor","disabled":false,"info":""},{"id":"81ab4a27.8ddcc8","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"73f21987.8e7dd8","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"639c866f.fb4a78","type":"tab","label":"Activation","disabled":false,"info":""},{"id":"9f9bbc66.7b25f","type":"tab","label":"Passage Prediction","disabled":false,"info":""},{"id":"4e9b10cb.a9d92","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"23b07ff6.e7115","type":"tab","label":"Test Area","disabled":false,"info":""},{"id":"16a06f8d.fc4a5","type":"subflow","name":"MQTT send","info":"","category":"","in":[{"x":180,"y":80,"wires":[{"id":"4648ff3f.9b749"}]}],"out":[{"x":1100,"y":80,"wires":[{"id":"c42e6c45.7f45","port":1}]},{"x":1100,"y":80,"wires":[{"id":"c42e6c45.7f45","port":2}]},{"x":1100,"y":80,"wires":[{"id":"c42e6c45.7f45","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ebbf58ea.9b94e8","type":"subflow","name":"score pattern","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"b7e2c75c.1d9758"},{"id":"7af038f7.134478"}]}],"out":[{"x":1120,"y":120,"wires":[{"id":"df45999c.608f18","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b07381c9.04924","type":"subflow","name":"system uid","info":"","category":"","in":[{"x":320,"y":80,"wires":[{"id":"ca7349eb.857e18"}]}],"out":[{"x":920,"y":80,"wires":[{"id":"4ec5a87.dba8058","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f1a6c1d5.25145","type":"subflow","name":"get tg chats","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b1834aba.309728"}]}],"out":[{"x":1100,"y":200,"wires":[{"id":"9a815a6a.614088","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f4ac97de.1418b8","type":"subflow","name":"postgres","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"79cc1024.7fe5f"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"79cc1024.7fe5f","port":0}]}],"env":[],"color":"#C0DEED","icon":"node-red-contrib-postgres-multi/postgres.png"},{"id":"a2a96f39.f7bb1","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"petflap","ssl":false},{"id":"fbb30748.e58a98","type":"redis-config","z":"","name":"Local","options":"{\"host\":\"redis://127.0.0.1\"}","cluster":false,"optionsType":"json"},{"id":"8f58af71.c510e","type":"rpi-gpio in","z":"11fe1e85.4e60e1","name":"","pin":"7","intype":"up","debounce":"25","read":false,"x":90,"y":200,"wires":[["361918b6.075038"]]},{"id":"874d709d.dbb19","type":"join","z":"11fe1e85.4e60e1","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":200,"wires":[["a0c17506.63d158"]]},{"id":"84de0d08.ea425","type":"trigger","z":"11fe1e85.4e60e1","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":610,"y":280,"wires":[["592bb75a.15d3e8"]]},{"id":"bf09d6d6.82fa08","type":"delay","z":"11fe1e85.4e60e1","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"milliseconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":200,"wires":[["874d709d.dbb19"]]},{"id":"6c8fb5fe.dd44ec","type":"rpi-gpio in","z":"11fe1e85.4e60e1","name":"","pin":"40","intype":"up","debounce":"10","read":false,"x":100,"y":360,"wires":[["f545d46e.bf2118"]]},{"id":"6c72e6c6.70ed08","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload.ts","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["bf09d6d6.82fa08","84de0d08.ea425"]]},{"id":"592bb75a.15d3e8","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload.ts","pt":"msg","to":"payload.ts","tot":"msg"},{"t":"set","p":"payload.complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":280,"wires":[["874d709d.dbb19"]]},{"id":"6c1adae.172da24","type":"uibuilder","z":"261967fc.c52618","name":"","topic":"","url":"start","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":570,"y":80,"wires":[["33cdbbb6.c55014","143d8cb8.922503"],["33cdbbb6.c55014"]]},{"id":"d4f850bc.d42f5","type":"exec","z":"261967fc.c52618","command":"sudo iwlist wlan0 scan | grep ESSID","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":1460,"wires":[["f6a801f0.0ebde"],[],[]]},{"id":"ef3b1236.e5b7b","type":"split","z":"261967fc.c52618","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":1460,"wires":[["7b3b62ca.119a3c"]]},{"id":"7b3b62ca.119a3c","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$match(payload, /^.*ESSID:\\\"(.+)\\\".*$/).groups[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1460,"wires":[["49e2723.c495a8c"]]},{"id":"49e2723.c495a8c","type":"switch","z":"261967fc.c52618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1460,"wires":[["cf64a32b.5dbf"]]},{"id":"69d61d72.dbcd44","type":"comment","z":"261967fc.c52618","name":"updateSsids - muss noch im AP mode getestet werden!","info":"","x":340,"y":1400,"wires":[]},{"id":"cf64a32b.5dbf","type":"join","z":"261967fc.c52618","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1170,"y":1460,"wires":[["86f243a7.1fe74"]]},{"id":"f6a801f0.0ebde","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = msg.payload.trim()\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1460,"wires":[["ef3b1236.e5b7b"]]},{"id":"33cdbbb6.c55014","type":"link out","z":"261967fc.c52618","name":"","links":["8ce3ade5.32a3a"],"x":715,"y":60,"wires":[]},{"id":"8ce3ade5.32a3a","type":"link in","z":"261967fc.c52618","name":"","links":["33cdbbb6.c55014"],"x":95,"y":360,"wires":[["c3123f4c.bbc9f","7d78f01c.af4dd"]]},{"id":"c3123f4c.bbc9f","type":"switch","z":"261967fc.c52618","name":"ctrl","property":"uibuilderCtrl","propertyType":"msg","rules":[{"t":"eq","v":"ready for content","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":280,"wires":[["e7874ade.d81aa8"]]},{"id":"7d78f01c.af4dd","type":"switch","z":"261967fc.c52618","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"updateSsids","vt":"str"},{"t":"eq","v":"connectToWifi","vt":"str"},{"t":"eq","v":"getTgActivationKey","vt":"str"},{"t":"eq","v":"getCurrentWifi","vt":"str"},{"t":"eq","v":"addUser","vt":"str"},{"t":"eq","v":"getUsers","vt":"str"},{"t":"eq","v":"deleteUser","vt":"str"},{"t":"eq","v":"generateActivationKey","vt":"str"},{"t":"eq","v":"checkActivationKeyResponse","vt":"str"},{"t":"eq","v":"activateTelegram","vt":"str"},{"t":"eq","v":"sendTgTestMessage","vt":"str"},{"t":"eq","v":"saveMqttConfig","vt":"str"},{"t":"eq","v":"getMqttConfig","vt":"str"},{"t":"eq","v":"sendMqttTestMessage","vt":"str"},{"t":"eq","v":"getPassages","vt":"str"},{"t":"eq","v":"setPassageDirection","vt":"str"},{"t":"eq","v":"getPets","vt":"str"},{"t":"eq","v":"addPet","vt":"str"},{"t":"eq","v":"deletePet","vt":"str"},{"t":"eq","v":"getSmartPassageTrainingDataStats","vt":"str"},{"t":"eq","v":"getSmartPassageModel","vt":"str"},{"t":"eq","v":"calibrateSmartPassageModel","vt":"str"},{"t":"eq","v":"replaceSmartPassageModel","vt":"str"},{"t":"eq","v":"activateSmartPassageModel","vt":"str"},{"t":"eq","v":"getSmartPassageConfig","vt":"str"},{"t":"eq","v":"getMotionStreamUrl","vt":"str"},{"t":"eq","v":"refreshPassageLabels","vt":"str"}],"checkall":"true","repair":false,"outputs":27,"x":190,"y":680,"wires":[["3c397f99.0d695"],["655f5826.42da38"],[],["c7d3f2ea.fd3e1"],["638fdfb2.6f8c1"],["47428b35.cdde24"],["db624da8.3aaa5"],["c4ff4f.dc6430b"],["c7ac736f.6e65f"],["c4546f93.cc61d"],["3dfcc989.7b0956"],["8aaf92ae.2df9d"],["d8d9c220.a9724"],["3993da50.ca94c6"],["33ffc35.95fad3c"],["d193da67.9acfd8"],["5417778c.f19668"],["100c86af.02e089"],["bb86c79.ec0e138"],["1a14c01b.a5682"],["987bb361.baeae"],["3618c8b.cdd1638"],["ea043004.989cf"],["2ebc295e.466a86"],["db6edce2.2d2f4"],["a73ab03d.ceffb"],["607c9cc7.f87b24"]]},{"id":"655f5826.42da38","type":"function","z":"261967fc.c52618","name":"keep payload","func":"payload = {\n    ssid: msg.payload.ssid,\n    pw: msg.payload.pw\n}\nmsg = {}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":460,"wires":[["ce671702.70af68","3c16571a.6691d8"]]},{"id":"cfed888e.86e148","type":"template","z":"261967fc.c52618","name":"wpa_supplicant.conf","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=DE\n\nnetwork={\n        ssid=\"{{payload.ssid}}\"\n        psk=\"{{payload.pw}}\"\n}","output":"str","x":280,"y":1700,"wires":[["bd609bdc.2c9928"]]},{"id":"bd609bdc.2c9928","type":"file","z":"261967fc.c52618","name":"","filename":"/tmp/wpa_supplicant.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":530,"y":1700,"wires":[["d3f36519.a0cc78"]]},{"id":"4d37501.ec3e9b","type":"exec","z":"261967fc.c52618","command":"ping -w 30 -q 8.8.8.8","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2000,"y":1600,"wires":[["71443d22.ad9c44"],[],["17d350ac.ad43cf"]]},{"id":"7ff9524e.6666ec","type":"template","z":"261967fc.c52618","name":"dhcpcd.conf","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"# A sample configuration for dhcpcd.\n# See dhcpcd.conf(5) for details.\n\n# Allow users of this group to interact with dhcpcd via the control socket.\n#controlgroup wheel\n\n# Inform the DHCP server of our hostname for DDNS.\nhostname\n\n# Use the hardware address of the interface for the Client ID.\nclientid\n# or\n# Use the same DUID + IAID as set in DHCPv6 for DHCPv4 ClientID as per RFC4361.\n# Some non-RFC compliant DHCP servers do not reply with this set.\n# In this case, comment out duid and enable clientid above.\n#duid\n\n# Persist interface configuration when dhcpcd exits.\npersistent\n\n# Rapid commit support.\n# Safe to enable by default because it requires the equivalent option set\n# on the server to actually work.\noption rapid_commit\n\n# A list of options to request from the DHCP server.\noption domain_name_servers, domain_name, domain_search, host_name\noption classless_static_routes\n# Respect the network MTU. This is applied to DHCP routes.\noption interface_mtu\n\n# Most distributions have NTP support.\n#option ntp_servers\n\n# A ServerID is required by RFC2131.\nrequire dhcp_server_identifier\n\n# Generate SLAAC address using the Hardware Address of the interface\n#slaac hwaddr\n# OR generate Stable Private IPv6 Addresses based from the DUID\nslaac private\n\n# Example static IP configuration:\n#interface eth0\n#static ip_address=192.168.0.10/24\n#static ip6_address=fd51:42f8:caae:d92e::ff/64\n#static routers=192.168.0.1\n#static domain_name_servers=192.168.0.1 8.8.8.8 fd51:42f8:caae:d92e::1\n\n# It is possible to fall back to a static IP if DHCP fails:\n# define static profile\n#profile static_eth0\n#static ip_address=192.168.1.23/24\n#static routers=192.168.1.1\n#static domain_name_servers=192.168.1.1\n\n# fallback to static profile on eth0\n#interface eth0\n#fallback static_eth0\n","output":"str","x":250,"y":1660,"wires":[["ac8c4aaf.f3f608"]]},{"id":"ac8c4aaf.f3f608","type":"file","z":"261967fc.c52618","name":"","filename":"/etc/dhcpcd.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":500,"y":1660,"wires":[["2756ecf7.916ab4"]]},{"id":"71443d22.ad9c44","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$parseInteger(\t$match(payload, /(\\d{1,3})% packet loss/).groups[0],\t\"0\"\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":1580,"wires":[["ad3e180a.118a38"]]},{"id":"ad3e180a.118a38","type":"switch","z":"261967fc.c52618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2370,"y":1580,"wires":[["64bb1e3e.c2047"],["bafe6360.d7c5d"]]},{"id":"1d23333a.3e101d","type":"exec","z":"261967fc.c52618","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"stop wifi ap","x":430,"y":1600,"wires":[[],[],["d409e95d.b00498"]]},{"id":"c3293255.816ee","type":"exec","z":"261967fc.c52618","command":"sudo systemctl restart dhcpcd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"restart dhcpcd","x":1620,"y":1600,"wires":[[],[],["cab2c71c.404e58"]]},{"id":"b03f1570.769df8","type":"exec","z":"261967fc.c52618","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":790,"y":1800,"wires":[[],[],[]]},{"id":"2756ecf7.916ab4","type":"join","z":"261967fc.c52618","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":1600,"wires":[["c3293255.816ee"]]},{"id":"d409e95d.b00498","type":"switch","z":"261967fc.c52618","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1600,"wires":[["2756ecf7.916ab4"],["add286b9.25ee28"]]},{"id":"47284ff3.765fb","type":"template","z":"261967fc.c52618","name":"dhcpcd.conf","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"interface wlan0\nstatic ip_address=192.168.1.1/24\n","output":"str","x":290,"y":1800,"wires":[["8b60a7d6.399688"]]},{"id":"8b60a7d6.399688","type":"file","z":"261967fc.c52618","name":"","filename":"/etc/dhcpcd.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":480,"y":1800,"wires":[["e1705850.99ad08"]]},{"id":"cab2c71c.404e58","type":"switch","z":"261967fc.c52618","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1790,"y":1600,"wires":[["4d37501.ec3e9b"],["dc32770d.3399d8"]]},{"id":"9069219b.75f6d","type":"inject","z":"261967fc.c52618","name":"","topic":"","payload":"{\"ssid\":\"mielenkiintoinen\",\"pw\":\"$urfit23!\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":520,"wires":[["655f5826.42da38"]]},{"id":"17d350ac.ad43cf","type":"switch","z":"261967fc.c52618","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2370,"y":1620,"wires":[["bafe6360.d7c5d"]]},{"id":"d3f36519.a0cc78","type":"exec","z":"261967fc.c52618","command":"sudo cp /tmp/wpa_supplicant.conf /etc/wpa_supplicant/wpa_supplicant.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"write wpa_supplicant.conf","x":770,"y":1700,"wires":[[],[],["c5b2570f.50b188"]]},{"id":"a692d537.d86b18","type":"file","z":"261967fc.c52618","name":"","filename":"/tmp/wpa_supplicant.conf","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1210,"y":1700,"wires":[["2756ecf7.916ab4"]]},{"id":"7bf0c5c7.f9cf8c","type":"link in","z":"261967fc.c52618","name":"","links":["6fefb033.ab4b5","dc32770d.3399d8","bafe6360.d7c5d","add286b9.25ee28"],"x":155,"y":1800,"wires":[["47284ff3.765fb"]]},{"id":"6fefb033.ab4b5","type":"link out","z":"261967fc.c52618","name":"","links":["7bf0c5c7.f9cf8c"],"x":1095,"y":1740,"wires":[]},{"id":"dc32770d.3399d8","type":"link out","z":"261967fc.c52618","name":"","links":["7bf0c5c7.f9cf8c"],"x":1915,"y":1660,"wires":[]},{"id":"bafe6360.d7c5d","type":"link out","z":"261967fc.c52618","name":"","links":["7bf0c5c7.f9cf8c"],"x":2535,"y":1620,"wires":[]},{"id":"c5b2570f.50b188","type":"switch","z":"261967fc.c52618","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1700,"wires":[["a692d537.d86b18"],["6fefb033.ab4b5"]]},{"id":"add286b9.25ee28","type":"link out","z":"261967fc.c52618","name":"","links":["7bf0c5c7.f9cf8c"],"x":735,"y":1620,"wires":[]},{"id":"ce671702.70af68","type":"link out","z":"261967fc.c52618","name":"","links":["96a36c68.61426"],"x":845,"y":500,"wires":[]},{"id":"96a36c68.61426","type":"link in","z":"261967fc.c52618","name":"connectWifi in","links":["ce671702.70af68"],"x":115,"y":1640,"wires":[["7ff9524e.6666ec","cfed888e.86e148","58867f21.0bfc1"]]},{"id":"e1846418.7c3fd8","type":"exec","z":"261967fc.c52618","command":"ip route get 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":1940,"wires":[["930ba872.dbd518"],[],[]]},{"id":"64bb1e3e.c2047","type":"link out","z":"261967fc.c52618","name":"","links":["72f6d50c.57f98c"],"x":2535,"y":1580,"wires":[]},{"id":"72f6d50c.57f98c","type":"link in","z":"261967fc.c52618","name":"","links":["64bb1e3e.c2047"],"x":155,"y":1940,"wires":[["e1846418.7c3fd8"]]},{"id":"930ba872.dbd518","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$match($trim(payload), /((\\d{1,3}\\.){3}\\d{1,3})/)[2].groups[0]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1940,"wires":[["2959599f.1a5916"]]},{"id":"11f78139.fb709f","type":"comment","z":"261967fc.c52618","name":"Get the new IP","info":"","x":210,"y":1880,"wires":[]},{"id":"87d2a9c9.94c2a8","type":"comment","z":"261967fc.c52618","name":"!!!! You need to solve installation of the reed sensor!!!!","info":"","x":1090,"y":160,"wires":[]},{"id":"f545d46e.bf2118","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"reading\": payload,\t    \"sensor\": \"out\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":360,"wires":[["6c72e6c6.70ed08"]]},{"id":"361918b6.075038","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"reading\": payload,\t    \"sensor\": \"out\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":200,"wires":[["6c72e6c6.70ed08"]]},{"id":"a0c17506.63d158","type":"function","z":"11fe1e85.4e60e1","name":"clean up","func":"\npattern = msg.payload.slice(0,-1)\n\npayload = {}\n\npayload.start = pattern[0].ts\npayload.end = pattern.slice(-1)[0].ts\npayload.duration = payload.end - payload.start\npayload.pattern = pattern\npayload.pet = \"first_pet\"\npayload.direction = { \"simple\": pattern[0].sensor }\n\nmsg.passage = payload\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":200,"wires":[["37f155da.78836a"]]},{"id":"3c16571a.6691d8","type":"delay","z":"261967fc.c52618","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":460,"wires":[["dc239b98.309828"]]},{"id":"86f243a7.1fe74","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1275,"y":1460,"wires":[]},{"id":"9e681d24.fe4d8","type":"link in","z":"261967fc.c52618","name":"ui in","links":["86f243a7.1fe74","b23baf01.f7bfd","ba324d29.91f04","e3cd9848.7fb8d8","b14640e9.67f52","b459f23c.a8b","b5e92b5.df709d8","539b4a06.dce2c4","b3983a3c.ad6928","92a31985.133a48","c4cd476d.641688","72ce6deb.a652d4","767c096e.77baa8","cdcc64f9.8de0b8","2e4adcfb.9078b4","73d2f7dd.9e6d78","d14dd615.7cb828","2d864f81.453d4","c094a929.21ea28","9494fe25.8e2fd","efdc4fc6.ce20b","814240c9.05149","aa8a16f1.4b7608","e1bb471a.abdf38","849cbbe3.526c18","534f95d5.b143fc"],"x":435,"y":80,"wires":[["6c1adae.172da24"]]},{"id":"dc239b98.309828","type":"link out","z":"261967fc.c52618","name":"","links":["7e876662.3b2a38"],"x":1005,"y":460,"wires":[]},{"id":"c93bafdb.4d32c","type":"exec","z":"261967fc.c52618","command":"ping -q -c 1 -w 5 8.8.8.8","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":280,"wires":[["be6b3995.63df78"],[],[]]},{"id":"be6b3995.63df78","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$parseInteger(\t$match(payload, /(\\d{1,3})% packet loss/).groups[0],\t\"0\"\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"isOnline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[["7f92ae2.4b1525"]]},{"id":"7f92ae2.4b1525","type":"switch","z":"261967fc.c52618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":280,"wires":[["b2883d21.e34e5"]]},{"id":"ba324d29.91f04","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1215,"y":280,"wires":[]},{"id":"b2883d21.e34e5","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":280,"wires":[["ba324d29.91f04"]]},{"id":"e7874ade.d81aa8","type":"change","z":"261967fc.c52618","name":"clean","rules":[{"t":"delete","p":"uibuilderCtrl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":280,"wires":[["c93bafdb.4d32c"]]},{"id":"cd28ab2c.58a318","type":"exec","z":"261967fc.c52618","command":"iwgetid","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":260,"y":2500,"wires":[["812c1db9.e3cc6"],[],[]]},{"id":"812c1db9.e3cc6","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$match(payload, /ESSID:\\\"(.+)\\\"/).groups[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2500,"wires":[["b23baf01.f7bfd"]]},{"id":"b23baf01.f7bfd","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":605,"y":2500,"wires":[]},{"id":"d3ebe0b4.aba32","type":"inject","z":"dd739083.550c8","name":"config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":80,"wires":[["ab8def5f.e0cd7"]]},{"id":"96fb9606.2c4b18","type":"change","z":"dd739083.550c8","name":"","rules":[{"t":"set","p":"config","pt":"global","to":"payload.dev","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":40,"wires":[[]]},{"id":"c0b9050b.91e918","type":"change","z":"dd739083.550c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$match($trim(payload), /((\\d{1,3}\\.){3}\\d{1,3})/)[2].groups[0]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":160,"wires":[["4ebd6830.39d248"]]},{"id":"d387ed0b.b7223","type":"exec","z":"dd739083.550c8","command":"ip route get 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":160,"wires":[["c0b9050b.91e918"],[],[]]},{"id":"638fdfb2.6f8c1","type":"link out","z":"261967fc.c52618","name":"addUser out","links":["fe3e13d9.ccbcb"],"x":355,"y":520,"wires":[]},{"id":"e648ace3.b38d2","type":"comment","z":"261967fc.c52618","name":"addUser","info":"","x":200,"y":2000,"wires":[]},{"id":"fe3e13d9.ccbcb","type":"link in","z":"261967fc.c52618","name":"addUser in","links":["638fdfb2.6f8c1"],"x":155,"y":2060,"wires":[["ccce5a52.c35d98"]]},{"id":"185dd044.60fd3","type":"comment","z":"261967fc.c52618","name":"getUsers","info":"","x":860,"y":2000,"wires":[]},{"id":"c1f00d45.1875e","type":"link in","z":"261967fc.c52618","name":"getUsers in","links":["47428b35.cdde24"],"x":815,"y":2060,"wires":[["c8561ab.d1ad4e8"]]},{"id":"e3cd9848.7fb8d8","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1355,"y":2060,"wires":[]},{"id":"47428b35.cdde24","type":"link out","z":"261967fc.c52618","name":"getUsers out","links":["c1f00d45.1875e"],"x":395,"y":540,"wires":[]},{"id":"b14640e9.67f52","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":715,"y":2060,"wires":[]},{"id":"8efdc60b.c35428","type":"comment","z":"261967fc.c52618","name":"deleteUser","info":"","x":1500,"y":2000,"wires":[]},{"id":"952b936a.a0bfb","type":"link in","z":"261967fc.c52618","name":"deleteUser in","links":["db624da8.3aaa5"],"x":1455,"y":2060,"wires":[["8ff7f21d.f04fd"]]},{"id":"db624da8.3aaa5","type":"link out","z":"261967fc.c52618","name":"deleteUser out","links":["952b936a.a0bfb"],"x":435,"y":560,"wires":[]},{"id":"c7d3f2ea.fd3e1","type":"link out","z":"261967fc.c52618","name":"getCurrentWifi out","links":[],"x":355,"y":480,"wires":[]},{"id":"bb6c66dc.9b99d8","type":"link in","z":"261967fc.c52618","name":"getCurrentWifi in","links":[],"x":145,"y":2500,"wires":[["cd28ab2c.58a318"]]},{"id":"591c7103.22765","type":"comment","z":"261967fc.c52618","name":"getCurrentWifi","info":"","x":210,"y":2440,"wires":[]},{"id":"3c397f99.0d695","type":"link out","z":"261967fc.c52618","name":"updateSsids out","links":["a8794a27.220bd8"],"x":355,"y":440,"wires":[]},{"id":"a8794a27.220bd8","type":"link in","z":"261967fc.c52618","name":"updateSsids in","links":["3c397f99.0d695"],"x":155,"y":1460,"wires":[["d4f850bc.d42f5"]]},{"id":"7c488cc0.f27da4","type":"comment","z":"261967fc.c52618","name":"connectWifi","info":"","x":210,"y":1540,"wires":[]},{"id":"22e2ecdc.1cc0c4","type":"comment","z":"261967fc.c52618","name":"connectWifi - go back to AP mode if something went wrong","info":"","x":350,"y":1740,"wires":[]},{"id":"918022e8.71634","type":"function","z":"261967fc.c52618","name":"generate random id","func":"function makeid(length) {\n   var result           = '';\n   var characters       = 'ABCDEFGHKMNPRSTUVWXYZ23456789';\n   var charactersLength = characters.length;\n   for ( var i = 0; i < length; i++ ) {\n      result += characters.charAt(Math.floor(Math.random() * charactersLength));\n   }\n   return result;\n}\n\nmsg.payload = makeid(4)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":2640,"wires":[["b459f23c.a8b"]]},{"id":"e92dde69.c887c","type":"link in","z":"261967fc.c52618","name":"generateActivationKey in","links":["c4ff4f.dc6430b"],"x":155,"y":2640,"wires":[["918022e8.71634"]]},{"id":"678488ed.de65c8","type":"comment","z":"261967fc.c52618","name":"generateActivationKey","info":"","x":240,"y":2580,"wires":[]},{"id":"b459f23c.a8b","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":475,"y":2640,"wires":[]},{"id":"c4ff4f.dc6430b","type":"link out","z":"261967fc.c52618","name":"generateActivationKey out","links":["e92dde69.c887c"],"x":355,"y":600,"wires":[]},{"id":"c7ac736f.6e65f","type":"link out","z":"261967fc.c52618","name":"checkActivationKeyResponse out","links":["415c0056.4619"],"x":395,"y":620,"wires":[]},{"id":"4a6177e9.38b208","type":"comment","z":"261967fc.c52618","name":"checkActivationKeyResponse","info":"","x":260,"y":2740,"wires":[]},{"id":"415c0056.4619","type":"link in","z":"261967fc.c52618","name":"checkActivationKeyResponse in","links":["c7ac736f.6e65f"],"x":175,"y":2800,"wires":[["84015ae9.49d888"]]},{"id":"2e3b2f46.4f2c1","type":"npm","z":"261967fc.c52618","name":"","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"js-sha256","module_style":"function","msg_payload":"return_val","function_name":"sha256","x":490,"y":2800,"wires":[["7aac832a.c1bc2c","926e99bb.f4a1f8"]]},{"id":"926e99bb.f4a1f8","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":2740,"wires":[]},{"id":"143d8cb8.922503","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":100,"wires":[]},{"id":"84015ae9.49d888","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"response","pt":"msg","to":"payload.response","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.activationKey","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2800,"wires":[["2e3b2f46.4f2c1"]]},{"id":"7aac832a.c1bc2c","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$uppercase($substring(payload, 0, 4))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2800,"wires":[["48946aca.50eb34"]]},{"id":"48946aca.50eb34","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = msg.payload == msg.response\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2800,"wires":[["926e99bb.f4a1f8","b5e92b5.df709d8"]]},{"id":"b5e92b5.df709d8","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1015,"y":2800,"wires":[]},{"id":"c4546f93.cc61d","type":"link out","z":"261967fc.c52618","name":"activateTelegram out","links":["fc49c3a6.24b6b"],"x":435,"y":640,"wires":[]},{"id":"d3d0e266.0bff8","type":"comment","z":"261967fc.c52618","name":"activateTelegram","info":"","x":220,"y":2860,"wires":[]},{"id":"fc49c3a6.24b6b","type":"link in","z":"261967fc.c52618","name":"activateTelegram in","links":["c4546f93.cc61d"],"x":175,"y":2920,"wires":[["a3b339a.1426dc8","d6f0e41b.1412c8"]]},{"id":"25f863e9.b34afc","type":"link in","z":"639c866f.fb4a78","name":"activateTelegram store activation key","links":["a3b339a.1426dc8"],"x":155,"y":120,"wires":[["f9058723.1803b8"]]},{"id":"f9058723.1803b8","type":"function","z":"639c866f.fb4a78","name":"","func":"msg.topic = \"tgActivationKey:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":120,"wires":[["a8046925.cc67f8"]]},{"id":"5144ed59.6684a4","type":"debug","z":"639c866f.fb4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":985,"y":120,"wires":[]},{"id":"a3b339a.1426dc8","type":"link out","z":"261967fc.c52618","name":"activateTelegram --> Activation connect","links":["25f863e9.b34afc"],"x":340,"y":2920,"wires":[]},{"id":"be545ec9.08756","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"config.tg_activation_fun_timeout","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":615,"y":120,"wires":[["5e5a4ea9.ce979"]]},{"id":"c27f9918.8a3b38","type":"inject","z":"639c866f.fb4a78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":360,"wires":[["ee479b40.30c398"]]},{"id":"67eb2c2c.9d66d4","type":"link in","z":"639c866f.fb4a78","name":"call tg_activation_fun","links":["6fc8d28a.4d59cc","2c8894b1.bd99cc"],"x":155,"y":300,"wires":[["ee479b40.30c398"]]},{"id":"8ddb4c09.61a3c","type":"http request","z":"639c866f.fb4a78","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":400,"wires":[["871520bb.ef19a","93633863.2e4d88"]]},{"id":"47931c48.d862b4","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.url","pt":"msg","to":"config.tg_activation_fun","tot":"global"},{"t":"set","p":"payload.current_local_ip","pt":"msg","to":"current_local_ip","tot":"msg"},{"t":"set","p":"payload.activation_key","pt":"msg","to":"activation_key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":400,"wires":[["f49c6383.0f85a"]]},{"id":"1b2c5131.8f6a9f","type":"link in","z":"639c866f.fb4a78","name":"","links":["ae070f42.a102b","d12a1b2f.013358"],"x":155,"y":400,"wires":[["5cef5445.75fcec"]]},{"id":"2e323937.044966","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"set","p":"current_local_ip","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["47931c48.d862b4"]]},{"id":"f49c6383.0f85a","type":"function","z":"639c866f.fb4a78","name":"","func":"\nurl = global.get(\"config.tg_activation_fun\") \nkey = msg.payload.activation_key\nip = msg.payload.current_local_ip\nport = global.get(\"config.port\")\n\nmsg.url = url + \"?activationKey=\" + key + \"&localIP=\" + ip+ \"&port=\" +port\n\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":400,"wires":[["8ddb4c09.61a3c","7e4e5164.63112"]]},{"id":"871520bb.ef19a","type":"link out","z":"639c866f.fb4a78","name":"","links":["8554afee.3655b"],"x":1115,"y":400,"wires":[]},{"id":"8554afee.3655b","type":"link in","z":"639c866f.fb4a78","name":"","links":["871520bb.ef19a"],"x":235,"y":560,"wires":[["16a3cc2a.ade124"]]},{"id":"16a3cc2a.ade124","type":"json","z":"639c866f.fb4a78","name":"","property":"payload","action":"","pretty":false,"x":325,"y":560,"wires":[["a3074a62.3db968"]]},{"id":"a3074a62.3db968","type":"switch","z":"639c866f.fb4a78","name":"got token?","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$exists(payload.chatId) and \t$exists(payload.token)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":465,"y":560,"wires":[["91a7b7a.7435148"]]},{"id":"91a7b7a.7435148","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.token","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"$string(payload.chatId)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload.chatId)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":560,"wires":[["f4093888.018568","96ecaadc.94c708","b6bbed67.75a3e"]]},{"id":"a5b9bb22.f114c8","type":"inject","z":"639c866f.fb4a78","name":"","topic":"","payload":"{\"chatId\":582969343,\"message\":\"Sucessfully activated user with chatId 582969343\",\"token\":\"95523c8c028429c3a4c74bd6a3da1c082544b0bef8e796d410724cdd8d9f89b3\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":325,"y":600,"wires":[["a3074a62.3db968"]]},{"id":"7331efa8.288e4","type":"inject","z":"639c866f.fb4a78","name":"","topic":"","payload":"bar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":685,"y":520,"wires":[[]]},{"id":"d7b17202.9aea4","type":"comment","z":"639c866f.fb4a78","name":"Fire request agains activation function","info":"","x":290,"y":240,"wires":[]},{"id":"5cef5445.75fcec","type":"change","z":"639c866f.fb4a78","name":"empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":400,"wires":[["ff97aca.fccd95"]]},{"id":"93633863.2e4d88","type":"debug","z":"639c866f.fb4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":440,"wires":[]},{"id":"ee479b40.30c398","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tgActivationKey:*","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":300,"wires":[["d1edcce3.0316b","75e678be.53f588"]]},{"id":"1812c970.e2dd87","type":"split","z":"639c866f.fb4a78","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":300,"wires":[["87cc48a5.ba8ce8","46eff358.26b6ec"]]},{"id":"26e69d1f.b180b2","type":"switch","z":"639c866f.fb4a78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":300,"wires":[["1812c970.e2dd87","f7e5413d.60124"]]},{"id":"f7e5413d.60124","type":"delay","z":"639c866f.fb4a78","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":260,"wires":[["6fc8d28a.4d59cc"]]},{"id":"6fc8d28a.4d59cc","type":"link out","z":"639c866f.fb4a78","name":"","links":["67eb2c2c.9d66d4"],"x":955,"y":260,"wires":[]},{"id":"49269dfb.ee5904","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"set","p":"activation_key","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":300,"wires":[["d12a1b2f.013358"]]},{"id":"d12a1b2f.013358","type":"link out","z":"639c866f.fb4a78","name":"","links":["1b2c5131.8f6a9f"],"x":1635,"y":300,"wires":[]},{"id":"f4093888.018568","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"tgActivationKey:\"& activation_key","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":500,"wires":[["ca00e876.c1d9e8"]]},{"id":"4c5634a7.81120c","type":"comment","z":"639c866f.fb4a78","name":"Store Telegram activation keys with expiration","info":"","x":310,"y":60,"wires":[]},{"id":"2c8894b1.bd99cc","type":"link out","z":"261967fc.c52618","name":"","links":["67eb2c2c.9d66d4"],"x":495,"y":2980,"wires":[]},{"id":"d6f0e41b.1412c8","type":"delay","z":"261967fc.c52618","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":2980,"wires":[["2c8894b1.bd99cc"]]},{"id":"96ecaadc.94c708","type":"debug","z":"639c866f.fb4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":560,"wires":[]},{"id":"55c61cc8.04a5e4","type":"debug","z":"639c866f.fb4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":220,"wires":[]},{"id":"d1edcce3.0316b","type":"debug","z":"639c866f.fb4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":360,"wires":[]},{"id":"87cc48a5.ba8ce8","type":"debug","z":"639c866f.fb4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":340,"wires":[]},{"id":"46eff358.26b6ec","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":300,"wires":[["5d93a47f.20e8bc"]]},{"id":"7e4e5164.63112","type":"debug","z":"639c866f.fb4a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":440,"wires":[]},{"id":"b3983a3c.ad6928","type":"link out","z":"639c866f.fb4a78","name":"","links":["9e681d24.fe4d8"],"x":1275,"y":600,"wires":[]},{"id":"3dfcc989.7b0956","type":"link out","z":"261967fc.c52618","name":"sendTgTestMessage out","links":["e0cbd5c2.6d4038"],"x":355,"y":680,"wires":[]},{"id":"d97f8d99.e257a","type":"comment","z":"261967fc.c52618","name":"sendTgTestMessage","info":"","x":230,"y":3060,"wires":[]},{"id":"e0cbd5c2.6d4038","type":"link in","z":"261967fc.c52618","name":"senTgTestMessage in","links":["3dfcc989.7b0956"],"x":175,"y":3140,"wires":[["168fa860.83b248"]]},{"id":"b2ec4cb3.2c7ff","type":"function","z":"261967fc.c52618","name":"","func":"msg.url = global.get(\"config.tg_notify_fun\")\nmsg.payload = {\n    localIP: msg.payload,\n    localPort: global.get(\"config.port\"),\n    messageType: \"testMessage\",\n    chatId: msg.chatId,\n    tgKey: msg.tgKey\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":3140,"wires":[["5df88391.5e4e3c"]]},{"id":"168fa860.83b248","type":"change","z":"261967fc.c52618","name":"empty","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":3140,"wires":[["3b447e84.39b132"]]},{"id":"5df88391.5e4e3c","type":"http request","z":"261967fc.c52618","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":3140,"wires":[["140d1855.440af8","22c8649d.e8523c"]]},{"id":"140d1855.440af8","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":3200,"wires":[]},{"id":"22c8649d.e8523c","type":"switch","z":"261967fc.c52618","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":3140,"wires":[["5637a48a.2db41c"],["7652c42.4c74c3c"]]},{"id":"5637a48a.2db41c","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":3100,"wires":[["90bd5a83.886088"]]},{"id":"92a31985.133a48","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1515,"y":3120,"wires":[]},{"id":"7652c42.4c74c3c","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":3160,"wires":[["90bd5a83.886088"]]},{"id":"90bd5a83.886088","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sendTgTestMessage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":3120,"wires":[["92a31985.133a48"]]},{"id":"8aaf92ae.2df9d","type":"link out","z":"261967fc.c52618","name":"saveMqttConfig out","links":["d87cdbd9.2567e8"],"x":395,"y":700,"wires":[]},{"id":"5774679e.77d328","type":"comment","z":"261967fc.c52618","name":"saveMqttConfig","info":"","x":220,"y":3300,"wires":[]},{"id":"d87cdbd9.2567e8","type":"link in","z":"261967fc.c52618","name":"saveMqttConfig in","links":["8aaf92ae.2df9d"],"x":155,"y":3360,"wires":[["9b6b8eab.deb95"]]},{"id":"fcd9980a.9e2658","type":"link out","z":"261967fc.c52618","name":"","links":["7e96bcac.b9e2f4"],"x":1075,"y":3320,"wires":[]},{"id":"139b0251.1f8f5e","type":"switch","z":"261967fc.c52618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":3360,"wires":[["fcd9980a.9e2658","564fc013.a2e88"]]},{"id":"b544779f.c00e58","type":"exec","z":"81ab4a27.8ddcc8","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":1130,"y":300,"wires":[["3b261a2e.3820d6","52ef4b8a.8c6634"],["60f71a2c.517814"],["e5286873.433968"]]},{"id":"7e96bcac.b9e2f4","type":"link in","z":"81ab4a27.8ddcc8","name":"mqtt_sub in","links":["fcd9980a.9e2658"],"x":215,"y":300,"wires":[["c5d40202.df6fa"]]},{"id":"d08a098a.484058","type":"inject","z":"81ab4a27.8ddcc8","name":"","topic":"mqtt_config","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":240,"wires":[["82c9a897.7336e8"]]},{"id":"f535c61a.b4fb48","type":"function","z":"81ab4a27.8ddcc8","name":"","func":"\nmsg.payload = \"mosquitto_sub\" +\n    \" -h \"+ msg.payload.server +\n    \" -p \"+ msg.payload.port +\n    \" -u \"+ msg.payload.username +\n    \" -P \"+ msg.payload.password +\n    \" -i \"+ msg.payload.clientId + \"_sub\" +\n    \" -t \"+ msg.payload.topic + \"/#\" +\n    \" -v \"\n    \nreturn msg;","outputs":1,"noerr":0,"x":990,"y":280,"wires":[["b544779f.c00e58"]]},{"id":"9b6b8eab.deb95","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"config","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"mqtt_config","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":3360,"wires":[["cf94906d.27859"]]},{"id":"8c4d8475.e44308","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"config","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"mqtt_config","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3360,"wires":[["5c5ed181.ac263"]]},{"id":"82c9a897.7336e8","type":"change","z":"81ab4a27.8ddcc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["c5d40202.df6fa"]]},{"id":"87cd1749.c308b8","type":"debug","z":"81ab4a27.8ddcc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1690,"y":180,"wires":[]},{"id":"60f71a2c.517814","type":"debug","z":"81ab4a27.8ddcc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":300,"wires":[]},{"id":"e5286873.433968","type":"debug","z":"81ab4a27.8ddcc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":340,"wires":[]},{"id":"8528e78.b25f418","type":"delay","z":"81ab4a27.8ddcc8","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":280,"wires":[["f535c61a.b4fb48"]]},{"id":"c272c085.e99f6","type":"change","z":"81ab4a27.8ddcc8","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[["b544779f.c00e58"]]},{"id":"4648ff3f.9b749","type":"change","z":"16a06f8d.fc4a5","name":"","rules":[{"t":"set","p":"tosend","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"mqtt_topic","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"mqtt_config","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["342c4292.c3ec7e"]]},{"id":"8f670c46.6ae44","type":"function","z":"16a06f8d.fc4a5","name":"","func":"msg.payload = \"mosquitto_pub\" +\n    \" -h \"+ msg.payload.server +\n    \" -p \"+ msg.payload.port +\n    \" -u \"+ msg.payload.username +\n    \" -P \"+ msg.payload.password +\n    \" -i \"+ msg.payload.clientId +\n    \" -t \"+ msg.payload.topic + \"/\" + msg.mqtt_topic +\n    \" -m \"+ JSON.stringify(msg.tosend).\n        replace(/\\\"/g, '\\\\\"');\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":80,"wires":[["c42e6c45.7f45","df73b741.ec7fc8"]]},{"id":"c42e6c45.7f45","type":"exec","z":"16a06f8d.fc4a5","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":970,"y":80,"wires":[[],[],[]]},{"id":"3b261a2e.3820d6","type":"debug","z":"81ab4a27.8ddcc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":220,"wires":[]},{"id":"52ef4b8a.8c6634","type":"function","z":"81ab4a27.8ddcc8","name":"format output","func":"splt = msg.payload.indexOf(\" \");\ntopic = msg.payload.substr(0, splt)\nmessage = msg.payload.substr(splt, msg.payload.length)\n\nmsg = {} \nmsg.topic = \"mqttSub\"  \nmsg.mqtt_topic = topic\nmsg.ts = new Date()\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":260,"wires":[["3886806c.5a821"]]},{"id":"3886806c.5a821","type":"json","z":"81ab4a27.8ddcc8","name":"","property":"payload","action":"","pretty":false,"x":1470,"y":260,"wires":[["87cd1749.c308b8","c4cd476d.641688","9b2b6fa7.8f5bc"]]},{"id":"c4cd476d.641688","type":"link out","z":"81ab4a27.8ddcc8","name":"mqtt_sub out","links":["9e681d24.fe4d8"],"x":1535,"y":220,"wires":[]},{"id":"e9018aa4.b57ec8","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt_config_updated","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":3360,"wires":[["788918cd.56bc38"]]},{"id":"564fc013.a2e88","type":"delay","z":"261967fc.c52618","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":3360,"wires":[["e9018aa4.b57ec8"]]},{"id":"d8d9c220.a9724","type":"link out","z":"261967fc.c52618","name":"getMqttConfig out","links":["4e222393.084b2c"],"x":435,"y":720,"wires":[]},{"id":"132ed3e8.32c1cc","type":"comment","z":"261967fc.c52618","name":"getMqttConfig","info":"","x":210,"y":3460,"wires":[]},{"id":"4e222393.084b2c","type":"link in","z":"261967fc.c52618","name":"getMqttConfig in","links":["d8d9c220.a9724"],"x":165,"y":3520,"wires":[["3767e3b6.25562c"]]},{"id":"3767e3b6.25562c","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt_config","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":3520,"wires":[["d3ffaf00.94a7d"]]},{"id":"72ce6deb.a652d4","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":800,"y":3520,"wires":[]},{"id":"23240e7c.fa8ed2","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":835,"y":3560,"wires":[]},{"id":"d369d9ec.39fdc8","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"getMqttConfig","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":3520,"wires":[["72ce6deb.a652d4","23240e7c.fa8ed2"]]},{"id":"df73b741.ec7fc8","type":"debug","z":"16a06f8d.fc4a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":140,"wires":[]},{"id":"3993da50.ca94c6","type":"link out","z":"261967fc.c52618","name":"sendMqttTestMessage out","links":["f9138b43.345888"],"x":355,"y":740,"wires":[]},{"id":"238c2f4d.5a652","type":"comment","z":"261967fc.c52618","name":"sendMqttTestMessage","info":"","x":240,"y":3600,"wires":[]},{"id":"f9138b43.345888","type":"link in","z":"261967fc.c52618","name":"sendMqttTestMessage in","links":["3993da50.ca94c6"],"x":155,"y":3660,"wires":[["3a12c427.a721dc","f83c6d95.c5b71"]]},{"id":"928c9888.121888","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt_test_message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3660,"wires":[["d5035059.89fba"]]},{"id":"3a12c427.a721dc","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":3700,"wires":[]},{"id":"f83c6d95.c5b71","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = {\n    ...msg.payload,\n    ts: (new Date()).getTime()\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":3660,"wires":[["928c9888.121888"]]},{"id":"d5035059.89fba","type":"subflow:16a06f8d.fc4a5","z":"261967fc.c52618","name":"","x":610,"y":3660,"wires":[[],[],[]]},{"id":"788918cd.56bc38","type":"subflow:16a06f8d.fc4a5","z":"261967fc.c52618","name":"","env":[],"x":1490,"y":3360,"wires":[[],[],["242d3c7c.9f55a4","598b6ed2.8a21f"]]},{"id":"242d3c7c.9f55a4","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":3400,"wires":[]},{"id":"598b6ed2.8a21f","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"saveMqttConfig","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"rc.code = 0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":3360,"wires":[["767c096e.77baa8"]]},{"id":"767c096e.77baa8","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1815,"y":3360,"wires":[]},{"id":"33ffc35.95fad3c","type":"link out","z":"261967fc.c52618","name":"getPassages out","links":["e2d75039.143ef"],"x":395,"y":760,"wires":[]},{"id":"b3f4fdcf.852d1","type":"comment","z":"261967fc.c52618","name":"getPassages","info":"","x":210,"y":3960,"wires":[]},{"id":"e2d75039.143ef","type":"link in","z":"261967fc.c52618","name":"getPassages in","links":["33ffc35.95fad3c"],"x":155,"y":4000,"wires":[["a96c7b61.560fd8"]]},{"id":"cdcc64f9.8de0b8","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":715,"y":4000,"wires":[]},{"id":"d193da67.9acfd8","type":"link out","z":"261967fc.c52618","name":"setPassageDirection out","links":["aa9978a1.988768"],"x":435,"y":780,"wires":[]},{"id":"6e724ed3.ccbf7","type":"comment","z":"261967fc.c52618","name":"setPassageDirection","info":"","x":230,"y":3820,"wires":[]},{"id":"aa9978a1.988768","type":"link in","z":"261967fc.c52618","name":"setPassageDirection in","links":["d193da67.9acfd8"],"x":155,"y":3860,"wires":[["5985ded9.238c3"]]},{"id":"2e4adcfb.9078b4","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":715,"y":3860,"wires":[]},{"id":"7992cdd9.40d724","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":3960,"wires":[]},{"id":"c65b80cb.ae1d1","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1080,"wires":[[]]},{"id":"cab2068d.08c718","type":"inject","z":"11fe1e85.4e60e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1140,"wires":[["c65b80cb.ae1d1"]]},{"id":"a8992744.8d60f8","type":"rpi-gpio in","z":"11fe1e85.4e60e1","name":"","pin":"7","intype":"up","debounce":"10","read":false,"x":90,"y":1080,"wires":[["c65b80cb.ae1d1"]]},{"id":"5417778c.f19668","type":"link out","z":"261967fc.c52618","name":"getPets out","links":["104b9387.e7544c"],"x":355,"y":800,"wires":[]},{"id":"100c86af.02e089","type":"link out","z":"261967fc.c52618","name":"addPet out","links":["88d17755.525e18"],"x":395,"y":820,"wires":[]},{"id":"baadee9e.cdc3d","type":"comment","z":"261967fc.c52618","name":"addPet","info":"","x":190,"y":4160,"wires":[]},{"id":"88d17755.525e18","type":"link in","z":"261967fc.c52618","name":"addPet in","links":["100c86af.02e089"],"x":155,"y":4220,"wires":[["f58328c4.96e178"]]},{"id":"49398b51.9682b4","type":"comment","z":"261967fc.c52618","name":"getPets","info":"","x":930,"y":4160,"wires":[]},{"id":"104b9387.e7544c","type":"link in","z":"261967fc.c52618","name":"getPets in","links":["5417778c.f19668"],"x":895,"y":4220,"wires":[["3ed4050e.c4bf6a"]]},{"id":"73d2f7dd.9e6d78","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1395,"y":4220,"wires":[]},{"id":"d14dd615.7cb828","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":655,"y":4220,"wires":[]},{"id":"e3eed064.83ca5","type":"comment","z":"261967fc.c52618","name":"deletePet","info":"","x":1720,"y":4160,"wires":[]},{"id":"7b649c94.13a274","type":"link in","z":"261967fc.c52618","name":"deletePet in","links":["bb86c79.ec0e138"],"x":1675,"y":4220,"wires":[["8e364f0f.936dd"]]},{"id":"c80b3fa2.7ada7","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2270,"y":4220,"wires":[]},{"id":"bb86c79.ec0e138","type":"link out","z":"261967fc.c52618","name":"deletePet out","links":["7b649c94.13a274"],"x":435,"y":840,"wires":[]},{"id":"9afb0e28.8fdc3","type":"debug","z":"11fe1e85.4e60e1","name":"deal with multiple pets!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":540,"wires":[]},{"id":"b4b2286a.9f9f58","type":"switch","z":"11fe1e85.4e60e1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count(payload)=1","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":500,"wires":[["349a1021.bf53c","9870235.2adbde"],["9afb0e28.8fdc3"]]},{"id":"349a1021.bf53c","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"passage.pet","pt":"msg","to":"payload[0].id","tot":"jsonata"},{"t":"set","p":"passage.petName","pt":"msg","to":"payload[0].name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":500,"wires":[["e7634180.72593"]]},{"id":"37f155da.78836a","type":"link out","z":"11fe1e85.4e60e1","name":"","links":["717d35eb.cd3ecc"],"x":1175,"y":200,"wires":[]},{"id":"717d35eb.cd3ecc","type":"link in","z":"11fe1e85.4e60e1","name":"","links":["37f155da.78836a"],"x":60,"y":500,"wires":[["e1c95407.e5b9b8"]]},{"id":"39458e0f.876872","type":"link out","z":"11fe1e85.4e60e1","name":"","links":["5fdd242b.c28e8c"],"x":1555,"y":500,"wires":[]},{"id":"5fdd242b.c28e8c","type":"link in","z":"11fe1e85.4e60e1","name":"","links":["39458e0f.876872"],"x":55,"y":620,"wires":[["75208efd.e454f"]]},{"id":"28c8c3c8.96a9bc","type":"link in","z":"9f9bbc66.7b25f","name":"update model in","links":["ddb69878.a3e8c8"],"x":195,"y":120,"wires":[["da73c9d5.d9cee8"]]},{"id":"c8d74eac.07477","type":"comment","z":"9f9bbc66.7b25f","name":"train model","info":"","x":140,"y":80,"wires":[]},{"id":"83b0ac34.abe8a","type":"inject","z":"9f9bbc66.7b25f","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["1b845ee9.49afe1"]]},{"id":"796eee45.02e98","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map(data,function($v) { $v.doc })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":540,"wires":[["9c1aca74.67e6d8"]]},{"id":"9c1aca74.67e6d8","type":"file","z":"9f9bbc66.7b25f","name":"","filename":"/tmp/patpred/model_input.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":490,"y":540,"wires":[["4c585070.1b28b","4cfbaeaf.7a2cb"]]},{"id":"7b2f777f.6b1e38","type":"debug","z":"9f9bbc66.7b25f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":460,"wires":[]},{"id":"78ef46b1.5234c8","type":"debug","z":"9f9bbc66.7b25f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":180,"wires":[]},{"id":"d2afec8c.8f47d","type":"subflow:ebbf58ea.9b94e8","z":"11fe1e85.4e60e1","name":"","env":[],"x":370,"y":760,"wires":[["3703dd53.a4ddb2"]]},{"id":"3703dd53.a4ddb2","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"prediction","pt":"msg","to":"payload[0]","tot":"jsonata"},{"t":"set","p":"id","pt":"msg","to":"payload[0]._id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":760,"wires":[["decf015b.c9789","55eba62d.496ab8"]]},{"id":"772876b0.9010d8","type":"debug","z":"11fe1e85.4e60e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":700,"wires":[]},{"id":"c8c2710d.da574","type":"comment","z":"261967fc.c52618","name":"getSmartPassageTrainingDataStats","info":"","x":280,"y":4380,"wires":[]},{"id":"111f241a.3a3e9c","type":"link in","z":"261967fc.c52618","name":"getSmartPassageTrainingDataStats in","links":["1a14c01b.a5682"],"x":155,"y":4440,"wires":[["b18cca72.23c7d8"]]},{"id":"a20d3a75.6bd648","type":"comment","z":"261967fc.c52618","name":"","info":"","x":720,"y":4540,"wires":[]},{"id":"2d864f81.453d4","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":875,"y":4440,"wires":[]},{"id":"1a14c01b.a5682","type":"link out","z":"261967fc.c52618","name":"getSmartPassageTrainingDataStats out","links":["111f241a.3a3e9c"],"x":355,"y":860,"wires":[]},{"id":"ccce5a52.c35d98","type":"function","z":"261967fc.c52618","name":"","func":"\nmsg.payload = \n[{\n    \"query\": 'INSERT INTO public.\"user\" (doc) VALUES ($doc) RETURNING *',\n    \"output\": true,\n    \"params\": {\n        \"doc\": msg.payload\n    }\n    \n}]\n\n// msg.payload = 'SELECT * FROM public.\"user\" ORDER BY id ASC' \nreturn msg;","outputs":1,"noerr":0,"x":260,"y":2060,"wires":[["60418146.4b548"]]},{"id":"c8561ab.d1ad4e8","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = [{\n    \"query\": 'SELECT * FROM public.\"user\" ORDER BY id ASC',\n    \"output\": true    \n}]\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2060,"wires":[["7ebd137.86f52ec"]]},{"id":"9620fcd2.c58c","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"_id\": $v.id\t}, $v.doc]\t       )\t}\t)]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"getUsers","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":2060,"wires":[["e3cd9848.7fb8d8"]]},{"id":"8ff7f21d.f04fd","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = [{\n    \"query\": 'DELETE FROM public.\"user\" WHERE id = '+ msg.payload.id\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":2060,"wires":[["8e4b78eb.0d2a08"]]},{"id":"7547a491.82187c","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1860,"y":2060,"wires":[]},{"id":"b6bbed67.75a3e","type":"function","z":"639c866f.fb4a78","name":"","func":"telegram = {\n    tgKey: msg.token,\n    chatId: msg.chatId\n}\n\nqueries = [{\n    \"query\": 'UPDATE public.\"user\" SET doc = '+\n        'jsonb_set(doc, \\'{\"telegram\"}\\',$telegram, true) WHERE id = $id ' +\n        'RETURNING *',\n    \"output\": true,\n    \"params\": {\n        \"telegram\": JSON.stringify(telegram),\n        \"id\": msg.pf_user_id\n    }\n}]\n\nmsg.payload = queries\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":600,"wires":[["1aac645.94d319c"]]},{"id":"f58328c4.96e178","type":"function","z":"261967fc.c52618","name":"","func":"\nmsg.payload = [{\n    \"query\": 'INSERT INTO public.pet (doc) VALUES ($doc) RETURNING *',\n    \"output\": true,\n    \"params\": {\n        \"doc\": JSON.stringify(msg.payload)\n    }\n}]\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":4220,"wires":[["17c0bfc.65cc74"]]},{"id":"3ed4050e.c4bf6a","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = [{\n    \"query\": 'SELECT * FROM public.pet ORDER BY id ASC' ,\n    \"output\": true\n    \n}]\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":4220,"wires":[["ee6c693.a0b9e98"]]},{"id":"4562a7a5.9c59a8","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"_id\": $v.id\t}, $v.doc]\t       )\t}\t)]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"getPets","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":4220,"wires":[["73d2f7dd.9e6d78"]]},{"id":"8e364f0f.936dd","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = [{\n    \"query\": 'DELETE FROM public.pet WHERE id = $id RETURNING *',\n    \"output\": true,\n    \"params\": {\n        \"id\": msg.payload.id\n    }\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":4220,"wires":[["1069a7ea.d253d8"]]},{"id":"98c3d66b.ef8618","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"id\": $v.id\t}, $v.doc]\t       )\t}\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"addUser","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2060,"wires":[["b14640e9.67f52"]]},{"id":"6fd97aac.9b4e14","type":"change","z":"639c866f.fb4a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"_id\": $v.id\t}, $v.doc]\t       )\t}\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"activateTelegram","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":600,"wires":[["b3983a3c.ad6928"]]},{"id":"e1c95407.e5b9b8","type":"function","z":"11fe1e85.4e60e1","name":"","func":"// msg.payload = 'SELECT * FROM public.\"user\" ORDER BY id ASC'\nmsg.payload =  [\n {\n     \"query\": 'SELECT * FROM public.pet', \n     \"output\": true\n },\n]\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":500,"wires":[["6deae76f.c32398"]]},{"id":"4de5e7d7.f36618","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"id\": $v.id\t}, $v.doc]\t       )\t}\t)]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":500,"wires":[["b4b2286a.9f9f58"]]},{"id":"9870235.2adbde","type":"debug","z":"11fe1e85.4e60e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":560,"wires":[]},{"id":"d300dfd4.9a682","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"_id\": $v.id\t}, $v.doc]\t       )\t}\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"addPet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4220,"wires":[["d14dd615.7cb828"]]},{"id":"d320d8ee.aeef28","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"_id\": $v.id\t}, $v.doc]\t       )\t}\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"deletePet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2100,"y":4220,"wires":[["c80b3fa2.7ada7"]]},{"id":"75208efd.e454f","type":"function","z":"11fe1e85.4e60e1","name":"","func":"// msg.payload = 'SELECT * FROM public.\"user\" ORDER BY id ASC'\nmsg.payload =  [\n {\n     \"query\": 'INSERT INTO public.passage (doc) VALUES ($doc) RETURNING *', \n     \"output\": true,\n     \"params\": {\n         \"doc\": JSON.stringify(msg.passage)\n     }\n },\n]\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":620,"wires":[["5a6046e.63369b8"]]},{"id":"3d6ab152.70610e","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"passage","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":620,"wires":[["71f039a6.1f77a8"]]},{"id":"decf015b.c9789","type":"function","z":"11fe1e85.4e60e1","name":"","func":"queries = [{\n    \"query\": 'UPDATE public.passage SET doc = ' +\n    'jsonb_set(doc, \\'{\"direction\"}\\', doc->\\'direction\\' || $prediction, true) ' +\n    'WHERE id = $id RETURNING *',\n    \"output\": true,\n    \"params\": {\n        \"prediction\": JSON.stringify({\n            \"predicted\": msg.prediction.pred,\n            \"score\": msg.prediction.proba\n        }),\n        \"id\": msg.id\n    }\n}]\n\nmsg.payload = queries\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":760,"wires":[["26567780.7b39b8"]]},{"id":"a96c7b61.560fd8","type":"function","z":"261967fc.c52618","name":"","func":"c = msg.payload.criteria\n\nif(c.offset > 0) msg.load_mode = true\n\ndirSet = []\nif (c.includeIn) dirSet.push(\"'in'\")\nif (c.includeOut) dirSet.push(\"'out'\")\nif (c.includeInvalid) dirSet.push(\"'invalid'\")\nif (!c.includeIn && \n!c.includeOut && \n!c.includeInvalid) dirSet.push(\"'in','out','invalid'\")\ndirStr = dirSet.join(\",\")\n\ndirectionFilter = \"(\" +\n\" (NOT doc->'direction' ?| array['set','predicted'] AND doc->'direction'->>'simple' in (\" +dirStr+\")) \"+\n\"OR doc->'direction'->>'set' in (\" +dirStr+\") \"+\n\"OR (NOT doc->'direction' ? 'set' AND doc->'direction'->>'predicted' in (\" +dirStr+\")))\"\n\n// DATE FILTER\n\ndateFilter = \"((doc->>'start')::float8 >= \"+ (c.from ? c.from : 0) +\n\" AND (doc->>'end')::float8 <= \"+(c.to ? c.to : \"'+infinity'\") + \") \" \n\n\norCond = []\nif (c.includeHeuristic) \n    orCond.push(\"NOT (doc->'direction' ?| array['set','predicted'])\")\nif (c.includeEdgeCases) \n    orCond.push(\"(NOT doc->'direction' ? 'set' AND doc->'direction' ? 'predicted' AND (doc->'direction'->>'score')::float8 < 0.8 )\")\nif (orCond.length === 0) \n    orCond.push(\" 1=1 \")\norCond = orCond.join(\" OR \")\n\nmsg.payload = [{\n    \"query\": 'SELECT * FROM public.passage ' +\n    'WHERE 1 = 1 '+\n    'AND '+ directionFilter + \" \"+\n    'AND '+ (dateFilter ? dateFilter : \" 1=1 \") +\n    'AND ('+ orCond + ') ' +\n    'ORDER BY id DESC ' +\n    'LIMIT $limit OFFSET $offset ' ,\n    \"output\": true,\n    \"params\": {\n        \"limit\": c.limit,\n        \"offset\": c.offset,\n    }\n    \n}]\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":4000,"wires":[["7992cdd9.40d724","38efc931.a01ab6"]]},{"id":"911ce869.17af98","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"_id\": $v.id\t}, $v.doc]\t       )\t}\t)]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"getPassages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4000,"wires":[["de7b73b8.123ba","cdcc64f9.8de0b8"]]},{"id":"5985ded9.238c3","type":"function","z":"261967fc.c52618","name":"","func":"queries = [{\n    \"query\": 'UPDATE public.passage SET doc = ' +\n    'jsonb_set(doc, \\'{direction,set}\\', $set, true) ' +\n    'WHERE id = $id RETURNING *',\n    \"output\": true,\n    \"params\": {\n        \"set\": '\"'+msg.payload.direction+'\"',\n        \"id\": msg.payload.id\n    }\n}]\n\nmsg.payload = queries\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":3860,"wires":[["64a304e3.05b5fc"]]},{"id":"3789651e.eeb66a","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"_id\": $v.id\t}, $v.doc]\t       )\t}\t)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"setPassageDirection","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":3860,"wires":[["2e4adcfb.9078b4"]]},{"id":"de7b73b8.123ba","type":"switch","z":"261967fc.c52618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count(payload) > 0","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":4040,"wires":[[]]},{"id":"b18cca72.23c7d8","type":"template","z":"261967fc.c52618","name":"","field":"sql","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT directiontype as label_type, direction, COUNT(id) FROM (\n\nSELECT \nCASE \n\tWHEN doc->'direction' ? 'set' THEN 'set'\n\tWHEN doc->'direction' ? 'predicted' THEN 'predicted'\n\tELSE 'simple'\nEND AS directiontype,\n\nCASE \n\tWHEN doc->'direction' ? 'set' THEN doc->'direction'->>'set'\n\tWHEN doc->'direction' ? 'predicted' THEN doc->'direction'->>'predicted'\n\tELSE 'undefined'\nEND AS direction\n\n, id \n\nFROM PUBLIC.passage \nWHERE (doc->'direction' ? 'set' OR (doc->'direction' ? 'predicted' AND (doc->'direction'->>'score')::FLOAT8 > $thres ))\nAND (doc->>'start')::FLOAT8 >= $from\n\n) foo\n\nGROUP BY directiontype, direction\n\nORDER BY directiontype, direction","output":"str","x":260,"y":4440,"wires":[["e8570a78.2a5d28"]]},{"id":"e8570a78.2a5d28","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = [{\n    \"query\": msg.sql,\n    \"output\": true,\n    \"params\": {\n        \"from\": msg.payload.dataFrom ? \n            msg.payload.dataFrom : \n            0, \n        \"thres\": msg.payload.minScore ?\n            msg.payload.minScore :\n            0\n    }\n}]\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":4440,"wires":[["4e73088b.9b4ef8"]]},{"id":"d8663a0c.ceaa78","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload{\t    label_type: {\t        direction: $parseInteger(count,\"0\")\t    }\t}","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"getSmartPassageTrainingDataStats","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":4440,"wires":[["2d864f81.453d4"]]},{"id":"a19a081b.72d9b8","type":"link out","z":"11fe1e85.4e60e1","name":"","links":["51e36331.74026c","aef00460.2bee88"],"x":1395,"y":760,"wires":[]},{"id":"aef00460.2bee88","type":"link in","z":"81ab4a27.8ddcc8","name":"MQTT send pattern","links":["a19a081b.72d9b8"],"x":200,"y":380,"wires":[["41491cce.b25324"]]},{"id":"41491cce.b25324","type":"change","z":"81ab4a27.8ddcc8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"passage","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload[0].doc","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":380,"wires":[["6b51b74.21bb548"]]},{"id":"6b51b74.21bb548","type":"subflow:16a06f8d.fc4a5","z":"81ab4a27.8ddcc8","name":"","env":[],"x":550,"y":380,"wires":[[],[],[]]},{"id":"9b2b6fa7.8f5bc","type":"switch","z":"81ab4a27.8ddcc8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"set_direction","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":320,"wires":[[]]},{"id":"46d028f6.58b058","type":"comment","z":"261967fc.c52618","name":"getSmartPassageModel","info":"","x":220,"y":4540,"wires":[]},{"id":"465c2523.027c8c","type":"link in","z":"261967fc.c52618","name":"getSmartPassageModel in","links":["987bb361.baeae"],"x":155,"y":4600,"wires":[["99845d9f.17904"]]},{"id":"987bb361.baeae","type":"link out","z":"261967fc.c52618","name":"getSmartPassageModel out","links":["465c2523.027c8c"],"x":395,"y":880,"wires":[]},{"id":"3ac5a681.2e8a9a","type":"file in","z":"261967fc.c52618","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":590,"y":4600,"wires":[["606fb402.2cf59c"]]},{"id":"33f1d63d.4b95ea","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"config.smart_passage.current.report","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":4580,"wires":[["3ac5a681.2e8a9a"]]},{"id":"606fb402.2cf59c","type":"json","z":"261967fc.c52618","name":"","property":"payload","action":"","pretty":false,"x":730,"y":4600,"wires":[["7e6b1871.28f778","c094a929.21ea28"]]},{"id":"7e6b1871.28f778","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":4660,"wires":[]},{"id":"b3974513.bda508","type":"inject","z":"261967fc.c52618","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":4660,"wires":[["33f1d63d.4b95ea"]]},{"id":"c094a929.21ea28","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":835,"y":4600,"wires":[]},{"id":"3d07398a.43d556","type":"comment","z":"261967fc.c52618","name":"calibrateSmartPassageModel","info":"","x":1100,"y":4380,"wires":[]},{"id":"896078d7.e5fa18","type":"link in","z":"261967fc.c52618","name":"calibrateSmartPassageModel in","links":["3618c8b.cdd1638"],"x":995,"y":4440,"wires":[["214585d4.28caaa"]]},{"id":"3618c8b.cdd1638","type":"link out","z":"261967fc.c52618","name":"calibrateSmartPassageModel out","links":["896078d7.e5fa18"],"x":435,"y":900,"wires":[]},{"id":"cdd4f55c.089948","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1630,"y":4480,"wires":[]},{"id":"214585d4.28caaa","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":4440,"wires":[["1055480e.f5e478","cdd4f55c.089948"]]},{"id":"a8400adb.592068","type":"function","z":"9f9bbc66.7b25f","name":"","func":"msg.config = msg.payload\nmsg.payload = [{\n    \"query\": msg.sql,\n    \"output\": true,\n    \"params\": {\n        \"from\": msg.payload.dataFrom ? \n            msg.payload.dataFrom : \n            0, \n        \"thres\": msg.payload.autoScoredThres ?\n            msg.payload.autoScoredThres :\n            0\n    }\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["c0c46ec2.84655"]]},{"id":"5550e4e9.95e2bc","type":"template","z":"9f9bbc66.7b25f","name":"","field":"sql","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\nCASE \n\tWHEN doc->'direction' ? 'set' THEN 'set'\n\tWHEN doc->'direction' ? 'predicted' THEN 'predicted'\n\tELSE 'simple'\nEND AS directiontype,\n\nCASE \n\tWHEN doc->'direction' ? 'set' THEN doc->'direction'->>'set'\n\tWHEN doc->'direction' ? 'predicted' THEN doc->'direction'->>'predicted'\n\tELSE 'undefined'\nEND AS direction\n\n, doc\n\n, id \n\nFROM PUBLIC.passage \nWHERE (doc->'direction' ? 'set' \nOR ({{payload.useAutoScoredSql}} \n    AND doc->'direction' ? 'predicted' \n    AND (doc->'direction'->>'score')::FLOAT8 > $thres ))\nAND (doc->>'start')::FLOAT8 >= $from","output":"str","x":860,"y":300,"wires":[["a8400adb.592068"]]},{"id":"b4e95b03.5d8c08","type":"function","z":"9f9bbc66.7b25f","name":"","func":"msg.payload ={\n    \"dataFrom\": msg.payload.dataFrom.length > 0 ? \n        parseInt(msg.payload.dataFrom) :\n        0,\n    \"useAutoScored\": msg.payload.useAutoScored === \"true\", \n    \"autoRecalibrate\": msg.payload.autoRecalibrate === \"true\",\n    \"autoReplace\": msg.payload.autoReplace,\n    \"autoScoredThres\": parseFloat(msg.payload.autoScoredThres)\n}\n\nmsg.payload.useAutoScoredSql = \n    msg.payload.useAutoScored ?\n    \" true \" : \" false \"\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["bda93ba9.f01278"]]},{"id":"ddb69878.a3e8c8","type":"link out","z":"261967fc.c52618","name":"","links":["28c8c3c8.96a9bc"],"x":1775,"y":4440,"wires":[]},{"id":"99845d9f.17904","type":"switch","z":"261967fc.c52618","name":"","property":"model","propertyType":"msg","rules":[{"t":"eq","v":"current","vt":"str"},{"t":"eq","v":"new","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":4600,"wires":[["33f1d63d.4b95ea"],["61070be1.d8ab24"]]},{"id":"61070be1.d8ab24","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"config.smart_passage.new.report","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":4620,"wires":[["3ac5a681.2e8a9a"]]},{"id":"116be04.526192","type":"comment","z":"261967fc.c52618","name":"replaceSmartPassageModel","info":"","x":240,"y":4740,"wires":[]},{"id":"d2b072d6.3c62a","type":"link in","z":"261967fc.c52618","name":"replaceSmartPassageModel in","links":["ea043004.989cf","6d167153.d0af","45a943f4.2f910c"],"x":135,"y":4800,"wires":[["19061def.d95162"]]},{"id":"ea043004.989cf","type":"link out","z":"261967fc.c52618","name":"replaceSmartPassageModel out","links":["d2b072d6.3c62a"],"x":355,"y":920,"wires":[]},{"id":"19061def.d95162","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = \n\"mv \" + global.get(\"config\").smart_passage.new.model +\n\" \" + global.get(\"config\").smart_passage.current.model\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":4800,"wires":[["4a39593c.425668"]]},{"id":"4705bc8d.f936b4","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = \n\"mv \" + global.get(\"config\").smart_passage.new.report +\n\" \" + global.get(\"config\").smart_passage.current.report\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":4800,"wires":[["aa749f4e.e6844"]]},{"id":"4a39593c.425668","type":"exec","z":"261967fc.c52618","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":4800,"wires":[["4705bc8d.f936b4"],["bbf680b5.7efe1"],[]]},{"id":"aa749f4e.e6844","type":"exec","z":"261967fc.c52618","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":4800,"wires":[["1d6db1d8.7edf5e","bbf680b5.7efe1"],["bbf680b5.7efe1"],[]]},{"id":"9494fe25.8e2fd","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":875,"y":4800,"wires":[]},{"id":"dad826bc.3609b8","type":"comment","z":"261967fc.c52618","name":"activateSmartPassageModel","info":"","x":1040,"y":4740,"wires":[]},{"id":"b318b9b8.d94418","type":"link in","z":"261967fc.c52618","name":"activateSmartPassageModel in","links":["2ebc295e.466a86"],"x":935,"y":4800,"wires":[["22f13fd7.948e2","20e12fad.da37a"]]},{"id":"2ebc295e.466a86","type":"link out","z":"261967fc.c52618","name":"activateSmartPassageModel out","links":["b318b9b8.d94418"],"x":395,"y":940,"wires":[]},{"id":"22f13fd7.948e2","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\t \"smartPassageActive\": payload.activate\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":4800,"wires":[["20e12fad.da37a","e18dea2a.add108"]]},{"id":"22887afa.a624a6","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"activateSmartPassageModel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":4800,"wires":[["efdc4fc6.ce20b"]]},{"id":"efdc4fc6.ce20b","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1675,"y":4800,"wires":[]},{"id":"20e12fad.da37a","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1550,"y":4740,"wires":[]},{"id":"699629e5.bdd3c8","type":"comment","z":"261967fc.c52618","name":"getSmartPassageConfig","info":"","x":1890,"y":4740,"wires":[]},{"id":"ad681084.e3103","type":"link in","z":"261967fc.c52618","name":"getSmartPassageConfig in","links":["db6edce2.2d2f4"],"x":1795,"y":4800,"wires":[["e41ac7be.54b168"]]},{"id":"db6edce2.2d2f4","type":"link out","z":"261967fc.c52618","name":"getSmartPassageConfig out","links":["ad681084.e3103"],"x":435,"y":960,"wires":[]},{"id":"e41ac7be.54b168","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":4800,"wires":[["905e52bd.861b4"]]},{"id":"89f42c06.6f29f","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"getSmartPassageConfig","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2430,"y":4800,"wires":[["814240c9.05149"]]},{"id":"99385880.16ce18","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2430,"y":4740,"wires":[]},{"id":"814240c9.05149","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":2555,"y":4800,"wires":[]},{"id":"20fd5f4d.aff73","type":"link in","z":"11fe1e85.4e60e1","name":"","links":["98e912ea.7a768"],"x":55,"y":760,"wires":[["69e02655.7d67e8"]]},{"id":"98e912ea.7a768","type":"link out","z":"11fe1e85.4e60e1","name":"","links":["20fd5f4d.aff73"],"x":1175,"y":600,"wires":[]},{"id":"69e02655.7d67e8","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"passage","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$map(\t   payload,\t   function($v) {\t       $merge(\t           [{\t    \"id\": $v.id\t}, $v.doc]\t       )\t}\t)","tot":"jsonata"},{"t":"set","p":"payload._id","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":760,"wires":[["d2afec8c.8f47d"]]},{"id":"3d8f41bb.92476e","type":"switch","z":"11fe1e85.4e60e1","name":"smartPassageActive?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":620,"wires":[["98e912ea.7a768"],["7ec9687d.71cd48"]]},{"id":"7ec9687d.71cd48","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"passage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":640,"wires":[["a19a081b.72d9b8"]]},{"id":"ecdedb94.8ac758","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"manually_labeled","pt":"msg","to":"$count($filter(payload, \tfunction($v) { $v.directiontype = 'set' }))","tot":"jsonata"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[["47830e63.eadbc","7849af38.6b2c7"]]},{"id":"da73c9d5.d9cee8","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["1b845ee9.49afe1"]]},{"id":"4ebd6830.39d248","type":"redis-command","z":"dd739083.550c8","server":"fbb30748.e58a98","command":"set","name":"","topic":"current_local_ip","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1070,"y":160,"wires":[[]]},{"id":"3b447e84.39b132","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"get","name":"","topic":"current_local_ip","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":490,"y":3140,"wires":[["b2ec4cb3.2c7ff"]]},{"id":"cf94906d.27859","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"del","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":460,"y":3360,"wires":[["8c4d8475.e44308"]]},{"id":"5c5ed181.ac263","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"hset","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":820,"y":3360,"wires":[["139b0251.1f8f5e"]]},{"id":"d3ffaf00.94a7d","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"hgetall","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":475,"y":3520,"wires":[["d369d9ec.39fdc8"]]},{"id":"1055480e.f5e478","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"hset","name":"","topic":"smart_passage_config","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1400,"y":4440,"wires":[["ddb69878.a3e8c8","cdd4f55c.089948"]]},{"id":"e18dea2a.add108","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"hset","name":"","topic":"smart_passage_config","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1320,"y":4800,"wires":[["22887afa.a624a6"]]},{"id":"905e52bd.861b4","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"hgetall","name":"","topic":"smart_passage_config","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":2180,"y":4800,"wires":[["89f42c06.6f29f"]]},{"id":"71f039a6.1f77a8","type":"redis-command","z":"11fe1e85.4e60e1","server":"fbb30748.e58a98","command":"hget","name":"","topic":"smart_passage_config","params":"[\"smartPassageActive\"]","paramsType":"json","payloadType":"json","block":false,"x":740,"y":620,"wires":[["3d8f41bb.92476e","772876b0.9010d8"]]},{"id":"c5d40202.df6fa","type":"redis-command","z":"81ab4a27.8ddcc8","server":"fbb30748.e58a98","command":"hgetall","name":"","topic":"mqtt_config","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":610,"y":300,"wires":[["8528e78.b25f418","c272c085.e99f6"]]},{"id":"342c4292.c3ec7e","type":"redis-command","z":"16a06f8d.fc4a5","server":"fbb30748.e58a98","command":"hgetall","name":"","topic":"mqtt_config","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":570,"y":80,"wires":[["8f670c46.6ae44"]]},{"id":"a8046925.cc67f8","type":"redis-command","z":"639c866f.fb4a78","server":"fbb30748.e58a98","command":"set","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":440,"y":120,"wires":[["be545ec9.08756"]]},{"id":"5e5a4ea9.ce979","type":"redis-command","z":"639c866f.fb4a78","server":"fbb30748.e58a98","command":"expire","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":810,"y":120,"wires":[["5144ed59.6684a4"]]},{"id":"75e678be.53f588","type":"redis-command","z":"639c866f.fb4a78","server":"fbb30748.e58a98","command":"keys","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":500,"y":300,"wires":[["26e69d1f.b180b2"]]},{"id":"5d93a47f.20e8bc","type":"redis-command","z":"639c866f.fb4a78","server":"fbb30748.e58a98","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1220,"y":300,"wires":[["49269dfb.ee5904"]]},{"id":"ff97aca.fccd95","type":"redis-command","z":"639c866f.fb4a78","server":"fbb30748.e58a98","command":"get","name":"","topic":"current_local_ip","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":430,"y":400,"wires":[["2e323937.044966"]]},{"id":"ca00e876.c1d9e8","type":"redis-command","z":"639c866f.fb4a78","server":"fbb30748.e58a98","command":"del","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1040,"y":500,"wires":[[]]},{"id":"1b845ee9.49afe1","type":"redis-command","z":"9f9bbc66.7b25f","server":"fbb30748.e58a98","command":"hgetall","name":"","topic":"smart_passage_config","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":340,"y":300,"wires":[["b4e95b03.5d8c08","78ef46b1.5234c8"]]},{"id":"1a54d5a9.1d9d9a","type":"redis-command","z":"9f9bbc66.7b25f","server":"fbb30748.e58a98","command":"set","name":"","topic":"smart_passage_manually_labeled","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":830,"y":380,"wires":[[]]},{"id":"8d5ad445.be3638","type":"switch","z":"9f9bbc66.7b25f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":480,"wires":[[]]},{"id":"47830e63.eadbc","type":"redis-command","z":"9f9bbc66.7b25f","server":"fbb30748.e58a98","command":"get","name":"","topic":"smart_passage_manually_labeled","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":590,"y":420,"wires":[["77ecfc02.d670d4"]]},{"id":"77ecfc02.d670d4","type":"switch","z":"9f9bbc66.7b25f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$parseInteger(payload, \"0\") \t>= 1.1 * manually_labeled","vt":"jsonata"},{"t":"jsonata_exp","v":"$exists(pfui_uid)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":420,"wires":[["a67a6a89.942148"],["a67a6a89.942148"]]},{"id":"7849af38.6b2c7","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(manually_labeled)","tot":"jsonata"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["1a54d5a9.1d9d9a","7b2f777f.6b1e38"]]},{"id":"a67a6a89.942148","type":"link out","z":"9f9bbc66.7b25f","name":"","links":["568ef591.25f7ec"],"x":955,"y":420,"wires":[]},{"id":"568ef591.25f7ec","type":"link in","z":"9f9bbc66.7b25f","name":"","links":["a67a6a89.942148"],"x":115,"y":540,"wires":[["796eee45.02e98"]]},{"id":"b317dcd2.23b1f","type":"link out","z":"9f9bbc66.7b25f","name":"","links":["6c700569.1bed1c"],"x":1275,"y":300,"wires":[]},{"id":"6c700569.1bed1c","type":"link in","z":"9f9bbc66.7b25f","name":"","links":["b317dcd2.23b1f"],"x":115,"y":420,"wires":[["ecdedb94.8ac758"]]},{"id":"bda93ba9.f01278","type":"switch","z":"9f9bbc66.7b25f","name":"","property":"payload.autoRecalibrate","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload.autoRecalibrate or\t$exists(pfui_uid)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":300,"wires":[["5550e4e9.95e2bc"]]},{"id":"e58493d1.0adac","type":"link in","z":"9f9bbc66.7b25f","name":"get labeled directions","links":["e6a46ec6.5189f"],"x":195,"y":880,"wires":[["44e973ad.4d4c2c"]]},{"id":"1d6db1d8.7edf5e","type":"switch","z":"261967fc.c52618","name":"","property":"pfui_uid","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":4800,"wires":[["9494fe25.8e2fd"]]},{"id":"8d45684c.166088","type":"inject","z":"73f21987.8e7dd8","name":"","topic":"","payload":"[{\"doc\":{\"end\":1591004563635,\"pet\":7,\"start\":1591004557996,\"pattern\":[{\"ts\":1591004557996,\"sensor\":\"out\",\"reading\":0},{\"ts\":1591004558629,\"sensor\":\"out\",\"reading\":1},{\"ts\":1591004559104,\"sensor\":\"out\",\"reading\":0},{\"ts\":1591004559987,\"sensor\":\"out\",\"reading\":1},{\"ts\":1591004560457,\"sensor\":\"out\",\"reading\":0},{\"ts\":1591004561224,\"sensor\":\"out\",\"reading\":1},{\"ts\":1591004561743,\"sensor\":\"out\",\"reading\":0},{\"ts\":1591004562392,\"sensor\":\"out\",\"reading\":1},{\"ts\":1591004563053,\"sensor\":\"out\",\"reading\":0},{\"ts\":1591004563635,\"sensor\":\"out\",\"reading\":1}],\"petName\":\"Mika\",\"duration\":5639,\"timezone\":{\"tz\":\"CEST\\n\"},\"direction\":{\"score\":0.6900323786754285,\"simple\":\"out\",\"predicted\":\"in\"}},\"id\":40,\"pet\":null}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["1fdd2bbf.8264e4"]]},{"id":"dc651855.34ba18","type":"template","z":"f1a6c1d5.25145","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM PUBLIC.\"user\"","output":"str","x":440,"y":80,"wires":[["6dee04dd.11752c"]]},{"id":"79cc1024.7fe5f","type":"postgres","z":"f4ac97de.1418b8","postgresdb":"a2a96f39.f7bb1","name":"","output":true,"outputs":1,"x":220,"y":80,"wires":[[]]},{"id":"6dee04dd.11752c","type":"function","z":"f1a6c1d5.25145","name":"","func":"msg.payload = [{\n    \"query\": msg.payload,\n    \"output\": true\n}]\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["e2606682.370cc8"]]},{"id":"b833ff06.7372a","type":"function","z":"73f21987.8e7dd8","name":"","func":"msg.url = global.get(\"config.tg_notify_fun\")\nmsg.payload = {\n    localIP: msg.localIP,\n    localPort: global.get(\"config.port\"),\n    messageType: \"passageNotification\",\n    chat: msg.chats,\n    passage: msg.passage[0].doc,\n    passageId: msg.passage[0].id,\n    system: msg.system_uid,\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["c56ba039.3ab8"]]},{"id":"c56ba039.3ab8","type":"http request","z":"73f21987.8e7dd8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":160,"wires":[["cea17a6c.a70678"]]},{"id":"66be54df.ced19c","type":"link out","z":"73f21987.8e7dd8","name":"","links":["9e27d165.521ff"],"x":835,"y":100,"wires":[]},{"id":"51e36331.74026c","type":"link in","z":"73f21987.8e7dd8","name":"tg passage notify","links":["a19a081b.72d9b8"],"x":155,"y":160,"wires":[["e7690a79.969b18"]]},{"id":"cea17a6c.a70678","type":"debug","z":"73f21987.8e7dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":160,"wires":[]},{"id":"ca7349eb.857e18","type":"exec","z":"b07381c9.04924","command":"cat /sys/class/net/wlan0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":80,"wires":[["4ec5a87.dba8058"],[],[]]},{"id":"4ec5a87.dba8058","type":"npm","z":"b07381c9.04924","name":"","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"js-sha256","module_style":"function","msg_payload":"return_val","function_name":"sha256","x":790,"y":80,"wires":[[]]},{"id":"1fdd2bbf.8264e4","type":"change","z":"73f21987.8e7dd8","name":"","rules":[{"t":"set","p":"passage","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":260,"wires":[["e7690a79.969b18"]]},{"id":"e7634180.72593","type":"exec","z":"11fe1e85.4e60e1","command":"zdump /etc/localtime | grep -E '[A-Z]+$' -o","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":500,"wires":[["9722d976.176c68"],[],[]]},{"id":"9722d976.176c68","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"passage.timezone.tz","pt":"msg","to":"$trim(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":500,"wires":[["39458e0f.876872"]]},{"id":"1b509370.007d3d","type":"change","z":"f1a6c1d5.25145","name":"","rules":[{"t":"set","p":"chats","pt":"msg","to":"[payload.doc.telegram]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":80,"wires":[["7d853e48.93f24"]]},{"id":"3add8d5c.ec1cf2","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"passage","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":760,"wires":[["a19a081b.72d9b8"]]},{"id":"d9ba4b1a.ec8868","type":"comment","z":"4e9b10cb.a9d92","name":"gm convert -delay 100 *.jpg out.gif","info":"was pretty fast","x":320,"y":80,"wires":[]},{"id":"1a539b61.9fa145","type":"watch","z":"4e9b10cb.a9d92","name":"","files":"/var/lib/motion/event_end","recursive":"","x":130,"y":200,"wires":[["bb5491b.1f6497"]]},{"id":"4482db4a.baf224","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":120,"wires":[]},{"id":"79122d6b.4b7d94","type":"exec","z":"4e9b10cb.a9d92","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1050,"y":200,"wires":[["739d4b1c.8fc304"],["739d4b1c.8fc304"],["739d4b1c.8fc304","43184aed.c7a5d4"]]},{"id":"bc2e2ef2.a9578","type":"function","z":"4e9b10cb.a9d92","name":"","func":"cmd = \"gm convert -delay 20 \" +\n\"/tmp/motion/\" + msg.payload.trim() + \n\"/*.jpg /tmp/pfo/motion.gif\"\nmsg.cmd = cmd\nmsg.motionId = msg.payload.trim()\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["4482db4a.baf224","da54dcfe.8f4f2","4eddf2f7.c6ff3c"]]},{"id":"bb5491b.1f6497","type":"file in","z":"4e9b10cb.a9d92","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":200,"wires":[["bc2e2ef2.a9578"]]},{"id":"739d4b1c.8fc304","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":320,"wires":[]},{"id":"df9f2907.9abf38","type":"exec","z":"4e9b10cb.a9d92","command":"mkdir /tmp/pfo","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":720,"y":200,"wires":[["b50aa6d5.217878"],[],[]]},{"id":"b50aa6d5.217878","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"cmd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":200,"wires":[["79122d6b.4b7d94"]]},{"id":"e7690a79.969b18","type":"subflow:f1a6c1d5.25145","z":"73f21987.8e7dd8","name":"","env":[],"x":310,"y":160,"wires":[["66be54df.ced19c","b833ff06.7372a"]]},{"id":"e45ddcdb.e5715","type":"subflow:f1a6c1d5.25145","z":"73f21987.8e7dd8","name":"","env":[],"x":330,"y":600,"wires":[["3106f2bd.01fdee"]]},{"id":"e54ba1b7.93d41","type":"link in","z":"73f21987.8e7dd8","name":"send motion vid","links":["d414cd62.b412a"],"x":215,"y":600,"wires":[["e45ddcdb.e5715"]]},{"id":"43184aed.c7a5d4","type":"switch","z":"4e9b10cb.a9d92","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":200,"wires":[["d414cd62.b412a"]]},{"id":"d414cd62.b412a","type":"link out","z":"4e9b10cb.a9d92","name":"","links":["e54ba1b7.93d41"],"x":1315,"y":200,"wires":[]},{"id":"7d853e48.93f24","type":"subflow:b07381c9.04924","z":"f1a6c1d5.25145","name":"","env":[],"x":170,"y":200,"wires":[["846d43fc.17314"]]},{"id":"846d43fc.17314","type":"change","z":"f1a6c1d5.25145","name":"","rules":[{"t":"set","p":"system_uid","pt":"msg","to":"$substring(payload, 0, 16)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["e50a0439.df00a8"]]},{"id":"e50a0439.df00a8","type":"change","z":"f1a6c1d5.25145","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":200,"wires":[["9e96b000.451ab"]]},{"id":"9e96b000.451ab","type":"redis-command","z":"f1a6c1d5.25145","server":"fbb30748.e58a98","command":"get","name":"","topic":"current_local_ip","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":770,"y":200,"wires":[["9a815a6a.614088"]]},{"id":"9a815a6a.614088","type":"change","z":"f1a6c1d5.25145","name":"","rules":[{"t":"set","p":"localIP","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload_bac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":200,"wires":[[]]},{"id":"b1834aba.309728","type":"change","z":"f1a6c1d5.25145","name":"","rules":[{"t":"set","p":"payload_bac","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":80,"wires":[["dc651855.34ba18"]]},{"id":"759c840.fc2b87c","type":"function","z":"73f21987.8e7dd8","name":"","func":"msg.url = global.get(\"config.tg_notify_fun\")\nmsg.headers = {\n    \"Content-Type\": \"multipart/form-data\"\n}\nmsg.payload = {\n    data: JSON.stringify({\n    localIP: msg.localIP,\n    localPort: global.get(\"config.port\"),\n    messageType: \"motionNotification\",\n    chat: msg.chats,\n    motionId: msg.motionId,\n    motionStart: msg.motionStart,\n    motionEnd: msg.motionEnd,\n    timezone: msg.timezone, \n    system: msg.system_uid,\n    }),\n    gif: {\n        \"value\" : msg.gif,\n        \"options\" : {\n            \"filename\" : msg.motionId +\".gif\",\n            \"contentType\" : \"image/gif\",\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["65119838.25a808","336a0f07.0d55"]]},{"id":"3106f2bd.01fdee","type":"exec","z":"73f21987.8e7dd8","command":"zdump /etc/localtime | grep -E '[A-Z]+$' -o","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":600,"wires":[["d768f7.aa372708"],[],[]]},{"id":"d768f7.aa372708","type":"change","z":"73f21987.8e7dd8","name":"","rules":[{"t":"set","p":"timezone.tz","pt":"msg","to":"$trim(payload)","tot":"jsonata"},{"t":"set","p":"filename","pt":"msg","to":"config.motion.gif","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":600,"wires":[["f76526fd.83cb58"]]},{"id":"da54dcfe.8f4f2","type":"function","z":"4e9b10cb.a9d92","name":"","func":"msg.payload = [{\n    \"query\": \"SELECT extract(epoch from MAX(time_stamp))*1000 AS END, extract(epoch from MIN(time_stamp))*1000 AS start FROM motion_log WHERE event_id = $event_id\",\n    \"output\": true,\n    \"params\": {\n        \"event_id\": msg.motionId\n    }\n}]\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["10abfefa.f7acf1"]]},{"id":"cbfafb7f.2fdeb8","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":340,"wires":[]},{"id":"42831940.e28ec8","type":"function","z":"4e9b10cb.a9d92","name":"","func":"start = msg.payload[0].start\nend = msg.payload[0].end\n\noffset = new Date().getTimezoneOffset()*60000\n\nstart = start + offset\nend = end + offset\n\nmsg.motionStart = start\nmsg.motionEnd = end\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["cbfafb7f.2fdeb8","df9f2907.9abf38"]]},{"id":"65119838.25a808","type":"debug","z":"73f21987.8e7dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":740,"wires":[]},{"id":"70fb4cd4.4212b4","type":"debug","z":"73f21987.8e7dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":680,"wires":[]},{"id":"336a0f07.0d55","type":"www-request-multipart","z":"73f21987.8e7dd8","name":"","method":"POST","ret":"txt","url":"","follow-redirects":true,"tls":"","x":670,"y":680,"wires":[["70fb4cd4.4212b4"]]},{"id":"f76526fd.83cb58","type":"file in","z":"73f21987.8e7dd8","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1050,"y":600,"wires":[["8f2ebfe5.c4d8b"]]},{"id":"8f2ebfe5.c4d8b","type":"change","z":"73f21987.8e7dd8","name":"","rules":[{"t":"set","p":"gif","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":680,"wires":[["759c840.fc2b87c"]]},{"id":"a73ab03d.ceffb","type":"link out","z":"261967fc.c52618","name":"getMotionStreamUrl out","links":["cf527ecb.3b8bb"],"x":355,"y":980,"wires":[]},{"id":"cf527ecb.3b8bb","type":"link in","z":"261967fc.c52618","name":"getMotionStreamUrl in","links":["a73ab03d.ceffb"],"x":995,"y":4060,"wires":[["7fe3d7ee.42c768"]]},{"id":"40099109.0db6d","type":"comment","z":"261967fc.c52618","name":"getMotionStreamUrl","info":"","x":1070,"y":4000,"wires":[]},{"id":"7fe3d7ee.42c768","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":4060,"wires":[["6937ae46.d3026"]]},{"id":"6937ae46.d3026","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"get","name":"","topic":"current_local_ip","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1350,"y":4060,"wires":[["fd2962c8.ac959"]]},{"id":"fd2962c8.ac959","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = \"http://\"+msg.payload+\":\"+global.get(\"config.motion.stream_port\")\nmsg.topic = \"getMotionStreamUrl\"\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":4060,"wires":[["e1bb471a.abdf38"]]},{"id":"e1bb471a.abdf38","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1615,"y":4060,"wires":[]},{"id":"44e973ad.4d4c2c","type":"function","z":"9f9bbc66.7b25f","name":"","func":"msg.url = global.get(\"config.smart_passage.get_label_fun\")\nmsg.payload = {\n    \"systemId\": global.get(\"config.system_uid\"),\n    \"from\": msg.payload,\n    \"dropBeforeFrom\": true\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":880,"wires":[["433d387b.4b8388"]]},{"id":"2097a3.0639385e","type":"subflow:b07381c9.04924","z":"dd739083.550c8","name":"","env":[],"x":630,"y":100,"wires":[["889e41f0.9323f"]]},{"id":"889e41f0.9323f","type":"change","z":"dd739083.550c8","name":"","rules":[{"t":"set","p":"config.system_uid","pt":"global","to":"$substring(payload, 0, 16)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":100,"wires":[[]]},{"id":"433d387b.4b8388","type":"http request","z":"9f9bbc66.7b25f","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":880,"wires":[["52c5b5bf.145bcc"]]},{"id":"d8f006d.b3c6cf8","type":"inject","z":"9f9bbc66.7b25f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"x":170,"y":840,"wires":[["44e973ad.4d4c2c"]]},{"id":"52c5b5bf.145bcc","type":"json","z":"9f9bbc66.7b25f","name":"","property":"payload","action":"","pretty":false,"x":670,"y":880,"wires":[["10e64b14.fbd235","8943f4af.27dd18"]]},{"id":"3d4cb95b.364be6","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$max(payload.docs.timestamp)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.docs.\t    {\t        \"query\": %.%.query,\t        \"output\": true,\t        \"params\": {\t            \"direction\": direction,\t            \"id\":passageId\t        }\t    }\t    \t    \t     \t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":880,"wires":[["1e43ff14.2c99c1","16c997.0f48e66a"]]},{"id":"1c7b017e.3f833f","type":"function","z":"9f9bbc66.7b25f","name":"","func":"msg.query = \"UPDATE passage SET doc = \"+\n'jsonb_set(doc, \\'{\"direction\"}\\', doc->\\'direction\\' || $direction, true) '+ \n\"WHERE id = $id\"\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":880,"wires":[["3d4cb95b.364be6"]]},{"id":"1e43ff14.2c99c1","type":"debug","z":"9f9bbc66.7b25f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1220,"y":940,"wires":[]},{"id":"6a697a14.a5ee04","type":"comment","z":"9f9bbc66.7b25f","name":"get labeled directions from gcp","info":"","x":310,"y":800,"wires":[]},{"id":"7df34333.a79b2c","type":"debug","z":"9f9bbc66.7b25f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":940,"wires":[]},{"id":"33445e9f.b9a6d2","type":"link out","z":"9f9bbc66.7b25f","name":"got direction labels","links":["72230e91.29d9b","24a42c01.c0a6b4"],"x":1615,"y":880,"wires":[]},{"id":"247213a2.3cc21c","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":980,"wires":[[]]},{"id":"10e64b14.fbd235","type":"switch","z":"9f9bbc66.7b25f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count(payload.docs)>0","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":880,"wires":[["1c7b017e.3f833f"],["d04e901e.e285f","faf86667.0040b8"]]},{"id":"3903b225.6919fe","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.timestamp + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":960,"wires":[["44e973ad.4d4c2c"]]},{"id":"72230e91.29d9b","type":"link in","z":"9f9bbc66.7b25f","name":"","links":["33445e9f.b9a6d2","85b6904f.29301"],"x":135,"y":960,"wires":[["3903b225.6919fe"]]},{"id":"8943f4af.27dd18","type":"debug","z":"9f9bbc66.7b25f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":940,"wires":[]},{"id":"d04e901e.e285f","type":"debug","z":"9f9bbc66.7b25f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":940,"wires":[]},{"id":"607c9cc7.f87b24","type":"link out","z":"261967fc.c52618","name":"refreshPassageLabels out","links":["d1a2fcef.d5411"],"x":395,"y":1000,"wires":[]},{"id":"d1a2fcef.d5411","type":"link in","z":"261967fc.c52618","name":"refreshPassageLabels in","links":["607c9cc7.f87b24"],"x":995,"y":3880,"wires":[["e6a46ec6.5189f"]]},{"id":"545a2fac.16a2c","type":"comment","z":"261967fc.c52618","name":"refreshPassageLabels","info":"","x":1080,"y":3820,"wires":[]},{"id":"e6a46ec6.5189f","type":"link out","z":"261967fc.c52618","name":"","links":["e58493d1.0adac"],"x":1055,"y":3880,"wires":[]},{"id":"24a42c01.c0a6b4","type":"link in","z":"261967fc.c52618","name":"back from get labels","links":["33445e9f.b9a6d2","ed0a50bd.cbb0b","2eb90de2.8a4492"],"x":1055,"y":3920,"wires":[["bec4a6a7.060ae8"]]},{"id":"bec4a6a7.060ae8","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"refreshPassageLabels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":3920,"wires":[["849cbbe3.526c18"]]},{"id":"849cbbe3.526c18","type":"link out","z":"261967fc.c52618","name":"","links":["9e681d24.fe4d8"],"x":1275,"y":3920,"wires":[]},{"id":"6a781c63.2bc9a4","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"new_labels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":880,"wires":[["33445e9f.b9a6d2"]]},{"id":"faf86667.0040b8","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"no_new_labels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":980,"wires":[["ed0a50bd.cbb0b"]]},{"id":"ed0a50bd.cbb0b","type":"link out","z":"9f9bbc66.7b25f","name":"","links":["24a42c01.c0a6b4"],"x":1115,"y":980,"wires":[]},{"id":"39c7c4ea.0d9a9c","type":"link in","z":"4e9b10cb.a9d92","name":"get labeled directions","links":[],"x":115,"y":740,"wires":[["fc3bf509.933158"]]},{"id":"fc3bf509.933158","type":"function","z":"4e9b10cb.a9d92","name":"","func":"msg.url = global.get(\"config.motion.get_label_fun\")\nmsg.payload = {\n    \"systemId\": global.get(\"config.system_uid\"),\n    \"from\": msg.payload,\n    \"dropBeforeFrom\": true\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":740,"wires":[["f4706263.23f22"]]},{"id":"f4706263.23f22","type":"http request","z":"4e9b10cb.a9d92","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":740,"wires":[["5d9bbb8.bd0b444"]]},{"id":"2a48c444.dc659c","type":"inject","z":"4e9b10cb.a9d92","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"x":90,"y":700,"wires":[["fc3bf509.933158"]]},{"id":"5d9bbb8.bd0b444","type":"json","z":"4e9b10cb.a9d92","name":"","property":"payload","action":"","pretty":false,"x":590,"y":740,"wires":[["ede1b392.2ba6","52a26ef6.15288"]]},{"id":"111e347e.0d9a4c","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$max(payload.docs.timestamp)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.docs.\t    {\t        \"query\": %.%.query,\t        \"output\": true,\t        \"params\": {\t            \"label\": label,\t            \"id\":motionId\t        }\t    }\t    \t    \t     \t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":740,"wires":[["8257b7bb.12fe18","3ca6a8c7.ba90c8"]]},{"id":"4e0306b6.3b0328","type":"function","z":"4e9b10cb.a9d92","name":"","func":"msg.query = \"UPDATE motion SET doc = \"+\n'jsonb_set(doc, \\'{\"label\"}\\', $label, true) '+ \n\"WHERE event_id = $id\"\nreturn msg; ","outputs":1,"noerr":0,"x":850,"y":740,"wires":[["111e347e.0d9a4c"]]},{"id":"8257b7bb.12fe18","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1140,"y":800,"wires":[]},{"id":"72a5497e.7097a8","type":"comment","z":"4e9b10cb.a9d92","name":"get labeled motions from gcp","info":"","x":360,"y":700,"wires":[]},{"id":"8696c16.102384","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":800,"wires":[]},{"id":"2c840e23.b729e2","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":840,"wires":[[]]},{"id":"ede1b392.2ba6","type":"switch","z":"4e9b10cb.a9d92","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count(payload.docs)>0","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":740,"wires":[["4e0306b6.3b0328"],["373ded2a.af3d52","5ba3cfd3.55acf"]]},{"id":"d97d7030.57dca","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.timestamp + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":820,"wires":[["fc3bf509.933158"]]},{"id":"f16cef8b.eeffb","type":"link in","z":"4e9b10cb.a9d92","name":"","links":["fbe8a23c.7518f"],"x":55,"y":820,"wires":[["d97d7030.57dca"]]},{"id":"52a26ef6.15288","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":800,"wires":[]},{"id":"373ded2a.af3d52","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":800,"wires":[]},{"id":"85c6d3c1.2cfee","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"new_labels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":720,"wires":[["fbe8a23c.7518f"]]},{"id":"5ba3cfd3.55acf","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"no_new_labels","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":840,"wires":[["2eb90de2.8a4492"]]},{"id":"2eb90de2.8a4492","type":"link out","z":"4e9b10cb.a9d92","name":"","links":["24a42c01.c0a6b4"],"x":1035,"y":840,"wires":[]},{"id":"dde585f7.bbc0c8","type":"switch","z":"4e9b10cb.a9d92","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$reduce(_queryCounts,\tfunction($i,$j){$j != -1 and $i},true)\tand \t$count(_queryCounts) > 0","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":740,"wires":[["85c6d3c1.2cfee","48e989cf.3c93a8"]]},{"id":"48e989cf.3c93a8","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":800,"wires":[]},{"id":"c32f3bf.e5621c8","type":"inject","z":"4e9b10cb.a9d92","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1120,"y":660,"wires":[["3f54c73d.503448"]]},{"id":"3f54c73d.503448","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"_queryCounts","pt":"msg","to":"[0,0,0,0]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":660,"wires":[["dde585f7.bbc0c8"]]},{"id":"fbe8a23c.7518f","type":"link out","z":"4e9b10cb.a9d92","name":"got motion labels","links":["f16cef8b.eeffb"],"x":1655,"y":740,"wires":[]},{"id":"4eddf2f7.c6ff3c","type":"function","z":"4e9b10cb.a9d92","name":"","func":"msg.payload = [{\n    \"query\": \"SELECT event_id, time_stamp, filename, changed_pixels - previousRow AS delta FROM ( \"+\n\"SELECT event_id, time_stamp, filename, changed_pixels, LAG(changed_pixels,1) OVER w AS previousRow \"+\n\" FROM motion_log WHERE event_id = $event_id WINDOW w AS ( \"+\n\" \tPARTITION BY event_id ORDER BY time_stamp \"+\n \")) sub \"+\n \"WHERE changed_pixels - previousRow IS NOT NULL \"+\n \"ORDER BY delta DESC \"+\n\"LIMIT 4 \",\n    \"output\": true,\n    \"params\": {\n        \"event_id\": msg.motionId\n    }\n}]\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["ed323226.08c6f"]]},{"id":"7da1a29.5cc805c","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1870,"y":480,"wires":[]},{"id":"a439ba26.a02798","type":"exec","z":"4e9b10cb.a9d92","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1010,"y":400,"wires":[["a5e5f892.4bf2b8","e299cb0.6f4aa38"],["e299cb0.6f4aa38"],["e299cb0.6f4aa38"]]},{"id":"58757d53.0a7cc4","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"records","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"mkdir -p /home/pi/pfo/motion/thumbnails/\"&motionId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":400,"wires":[["a439ba26.a02798","cbfafb7f.2fdeb8"]]},{"id":"4d7c29.5b0443d8","type":"split","z":"4e9b10cb.a9d92","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1410,"y":400,"wires":[["2c533ef8.c05c52"]]},{"id":"a5e5f892.4bf2b8","type":"change","z":"4e9b10cb.a9d92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"records","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":360,"wires":[["4d7c29.5b0443d8"]]},{"id":"2c533ef8.c05c52","type":"function","z":"4e9b10cb.a9d92","name":"","func":"msg.payload = \"cp \" + \n    msg.payload.filename + \" \" +\n    \"/home/pi/pfo/motion/thumbnails/\"+msg.payload.event_id+\"/\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":400,"wires":[["d36bc7f4.ef9408"]]},{"id":"d36bc7f4.ef9408","type":"exec","z":"4e9b10cb.a9d92","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1730,"y":400,"wires":[["7da1a29.5cc805c"],["7da1a29.5cc805c"],["7da1a29.5cc805c"]]},{"id":"e299cb0.6f4aa38","type":"debug","z":"4e9b10cb.a9d92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":480,"wires":[]},{"id":"ab8def5f.e0cd7","type":"file in","z":"dd739083.550c8","name":"","filename":"pfo_config.yaml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":80,"wires":[["11ffbd48.88fe63"]]},{"id":"11ffbd48.88fe63","type":"yaml","z":"dd739083.550c8","property":"payload","name":"","x":430,"y":80,"wires":[["96fb9606.2c4b18","2097a3.0639385e","d387ed0b.b7223"]]},{"id":"2959599f.1a5916","type":"redis-command","z":"261967fc.c52618","server":"fbb30748.e58a98","command":"set","name":"","topic":"current_local_ip","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":790,"y":1940,"wires":[[]]},{"id":"a2f8a9d5.5f9ae8","type":"comment","z":"261967fc.c52618","name":"Online check","info":"","x":210,"y":220,"wires":[]},{"id":"58867f21.0bfc1","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = \"sudo sh \"+\n    global.get(\"config.wifi.stop_ap\") // + /home/pi/repos/rpi-zw-wifi-ap-switch/stop-wifi-ap.sh\"\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1600,"wires":[["1d23333a.3e101d"]]},{"id":"e1705850.99ad08","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = \"sudo sh \"+\n    global.get(\"config.wifi.start_ap\") // + /home/pi/repos/rpi-zw-wifi-ap-switch/stop-wifi-ap.sh\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1800,"wires":[["b03f1570.769df8"]]},{"id":"b6e40109.9ba03","type":"function","z":"dd739083.550c8","name":"","func":"msg.payload = \"/home/pi/.local/bin/smartpass run -h localhost -p 6379\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["fb6fefa4.38972"]]},{"id":"fb6fefa4.38972","type":"exec","z":"dd739083.550c8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":260,"wires":[["24a013a6.56b6bc"],["24a013a6.56b6bc"],["24a013a6.56b6bc"]]},{"id":"5eae6bad.886c84","type":"inject","z":"dd739083.550c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["b6e40109.9ba03"]]},{"id":"24a013a6.56b6bc","type":"debug","z":"dd739083.550c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":260,"wires":[]},{"id":"fc6aaa56.4d3aa8","type":"redis-out","z":"9f9bbc66.7b25f","server":"fbb30748.e58a98","command":"publish","name":"","topic":"ch:smartpass_update","x":880,"y":600,"wires":[]},{"id":"4c585070.1b28b","type":"function","z":"9f9bbc66.7b25f","name":"","func":"msg.payload = {\n    \"data\": \"/tmp/patpred/model_input.json\",\n    \"target\": global.get(\"config\").smart_passage.new.model,\n    \"report\": global.get(\"config\").smart_passage.new.report\n}\n\n// \"/home/pi/.local/bin/patpred update \"+\n// \" -i /tmp/patpred/model_input.json\" + \n// \" -t \" + global.get(\"config\").smart_passage.new.model +\n// \" -r \" + global.get(\"config\").smart_passage.new.report\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":600,"wires":[["fc6aaa56.4d3aa8"]]},{"id":"4d50ca36.3ce134","type":"redis-in","z":"9f9bbc66.7b25f","server":"fbb30748.e58a98","command":"subscribe","name":"","topic":"ch:smartpass_update_complete","timeout":0,"x":770,"y":640,"wires":[["fdbeb613.2e26e8"]]},{"id":"21c658dc.59d4a8","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"calibrateSmartPassageModel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":540,"wires":[["534f95d5.b143fc"]]},{"id":"534f95d5.b143fc","type":"link out","z":"9f9bbc66.7b25f","name":"","links":["9e681d24.fe4d8"],"x":1595,"y":540,"wires":[]},{"id":"ef5c153b.bc66a8","type":"switch","z":"9f9bbc66.7b25f","name":"","property":"pfui_uid","propertyType":"msg","rules":[{"t":"nnull"},{"t":"jsonata_exp","v":"config.autoRecalibrate and \t$not($exists(pfui_uid))","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":540,"wires":[["21c658dc.59d4a8"],["7f87f5b.130170c"]]},{"id":"45a943f4.2f910c","type":"link out","z":"9f9bbc66.7b25f","name":"","links":["d2b072d6.3c62a"],"x":1595,"y":580,"wires":[]},{"id":"7f87f5b.130170c","type":"switch","z":"9f9bbc66.7b25f","name":"","property":"config.autoReplace","propertyType":"msg","rules":[{"t":"eq","v":"replace","vt":"str"},{"t":"eq","v":"notify","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":580,"wires":[["45a943f4.2f910c"],["9f7a53ba.b7222"]]},{"id":"9f7a53ba.b7222","type":"link out","z":"9f9bbc66.7b25f","name":"","links":[],"x":1595,"y":620,"wires":[]},{"id":"4cfbaeaf.7a2cb","type":"join","z":"9f9bbc66.7b25f","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1190,"y":540,"wires":[["31227fa8.30982","ef5c153b.bc66a8"]]},{"id":"fdbeb613.2e26e8","type":"change","z":"9f9bbc66.7b25f","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":640,"wires":[["4cfbaeaf.7a2cb","3db9fb4b.beea04"]]},{"id":"31227fa8.30982","type":"debug","z":"9f9bbc66.7b25f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":580,"wires":[]},{"id":"3db9fb4b.beea04","type":"debug","z":"9f9bbc66.7b25f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":640,"wires":[]},{"id":"bbf680b5.7efe1","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":4880,"wires":[]},{"id":"a32a91df.e6ee","type":"redis-in","z":"ebbf58ea.9b94e8","server":"fbb30748.e58a98","command":"subscribe","name":"","topic":"ch:smartpass_score_result","timeout":0,"x":450,"y":40,"wires":[["9af8ee51.1f3c8"]]},{"id":"235f1160.1cf97e","type":"redis-out","z":"ebbf58ea.9b94e8","server":"fbb30748.e58a98","command":"publish","name":"","topic":"ch:smartpass_score","x":440,"y":80,"wires":[]},{"id":"b7e2c75c.1d9758","type":"function","z":"ebbf58ea.9b94e8","name":"","func":"msg.payload = {\n    \"model\": global.get(\"config\").smart_passage.current.model,\n    \"data\": msg.payload\n}\n\n// global.get(\"config.smart_passage.algo\") +\n// \" score \" +\n// \" -m \" + global.get(\"config\").smart_passage.current.model +\n// \" -d \" + msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["235f1160.1cf97e"]]},{"id":"e155b704.10cbc8","type":"debug","z":"ebbf58ea.9b94e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":160,"wires":[]},{"id":"a1f8cfa9.29e51","type":"join","z":"ebbf58ea.9b94e8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":120,"wires":[["e155b704.10cbc8","df45999c.608f18"]]},{"id":"9af8ee51.1f3c8","type":"change","z":"ebbf58ea.9b94e8","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"prediction","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["a1f8cfa9.29e51","8fa264fe.1856d8"]]},{"id":"55eba62d.496ab8","type":"debug","z":"11fe1e85.4e60e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":800,"wires":[]},{"id":"8fa264fe.1856d8","type":"debug","z":"ebbf58ea.9b94e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":40,"wires":[]},{"id":"7af038f7.134478","type":"change","z":"ebbf58ea.9b94e8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":120,"wires":[["a1f8cfa9.29e51"]]},{"id":"df45999c.608f18","type":"change","z":"ebbf58ea.9b94e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"prediction","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":120,"wires":[[]]},{"id":"e2606682.370cc8","type":"subflow:f4ac97de.1418b8","z":"f1a6c1d5.25145","name":"","env":[],"x":740,"y":80,"wires":[["1b509370.007d3d"]]},{"id":"10abfefa.f7acf1","type":"subflow:f4ac97de.1418b8","z":"4e9b10cb.a9d92","name":"","x":680,"y":340,"wires":[["42831940.e28ec8"]]},{"id":"ed323226.08c6f","type":"subflow:f4ac97de.1418b8","z":"4e9b10cb.a9d92","name":"","x":660,"y":400,"wires":[["58757d53.0a7cc4"]]},{"id":"3ca6a8c7.ba90c8","type":"subflow:f4ac97de.1418b8","z":"4e9b10cb.a9d92","name":"","x":1180,"y":740,"wires":[["dde585f7.bbc0c8","8696c16.102384"]]},{"id":"16c997.0f48e66a","type":"subflow:f4ac97de.1418b8","z":"9f9bbc66.7b25f","name":"","x":1260,"y":880,"wires":[["6a781c63.2bc9a4","7df34333.a79b2c"]]},{"id":"1aac645.94d319c","type":"subflow:f4ac97de.1418b8","z":"639c866f.fb4a78","name":"","x":980,"y":600,"wires":[["6fd97aac.9b4e14"]]},{"id":"6deae76f.c32398","type":"subflow:f4ac97de.1418b8","z":"11fe1e85.4e60e1","name":"","env":[],"x":280,"y":500,"wires":[["4de5e7d7.f36618"]]},{"id":"5a6046e.63369b8","type":"subflow:f4ac97de.1418b8","z":"11fe1e85.4e60e1","name":"","x":300,"y":620,"wires":[["3d6ab152.70610e"]]},{"id":"26567780.7b39b8","type":"subflow:f4ac97de.1418b8","z":"11fe1e85.4e60e1","name":"","x":880,"y":760,"wires":[["3add8d5c.ec1cf2","772876b0.9010d8"]]},{"id":"64a304e3.05b5fc","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":400,"y":3860,"wires":[["3789651e.eeb66a"]]},{"id":"38efc931.a01ab6","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":400,"y":4000,"wires":[["911ce869.17af98"]]},{"id":"17c0bfc.65cc74","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":380,"y":4220,"wires":[["d300dfd4.9a682"]]},{"id":"ee6c693.a0b9e98","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":1120,"y":4220,"wires":[["4562a7a5.9c59a8"]]},{"id":"4e73088b.9b4ef8","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":560,"y":4440,"wires":[["d8663a0c.ceaa78"]]},{"id":"1069a7ea.d253d8","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":1920,"y":4220,"wires":[["d320d8ee.aeef28"]]},{"id":"60418146.4b548","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":400,"y":2060,"wires":[["98c3d66b.ef8618"]]},{"id":"7ebd137.86f52ec","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":1040,"y":2060,"wires":[["9620fcd2.c58c"]]},{"id":"8e4b78eb.0d2a08","type":"subflow:f4ac97de.1418b8","z":"261967fc.c52618","name":"","x":1700,"y":2060,"wires":[["7547a491.82187c"]]},{"id":"19f47036.17002","type":"comment","z":"dd739083.550c8","name":"start smartpass","info":"","x":180,"y":220,"wires":[]},{"id":"1b9031d6.da9a0e","type":"comment","z":"73f21987.8e7dd8","name":"send gif","info":"","x":250,"y":560,"wires":[]},{"id":"17346b25.ee1a25","type":"comment","z":"73f21987.8e7dd8","name":"send passage notfication","info":"","x":310,"y":120,"wires":[]},{"id":"c0c46ec2.84655","type":"subflow:f4ac97de.1418b8","z":"9f9bbc66.7b25f","name":"","x":1160,"y":300,"wires":[["b317dcd2.23b1f"]]}]