flows_raspberrypi.json
[{"id":"ce4019d4.a83e98","type":"tab","label":"Wifi AP / Wifi Client switch","disabled":false,"info":""},{"id":"261967fc.c52618","type":"tab","label":"Configuration UI","disabled":false,"info":""},{"id":"11fe1e85.4e60e1","type":"tab","label":"Passage Monitor","disabled":false,"info":""},{"id":"81ab4a27.8ddcc8","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"43cfcd79.eb0744","type":"http in","z":"ce4019d4.a83e98","name":"","url":"/dev/start-wifi-ap","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["50361a4f.d2c684","986da1c1.e8996","e33cdd96.69242"]],"info":"Query-Params:\nssid: the Wifi SSID\npw: the password to set for the Wifi"},{"id":"50361a4f.d2c684","type":"exec","z":"ce4019d4.a83e98","command":"sudo sh /home/pi/repos/rpi-zw-wifi-ap-switch/setup-wifi-ap.sh /home/pi/repos/rpi-zw-wifi-ap-switch/config /home/pi/backup02","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":780,"y":140,"wires":[["5bf50f3c.a185a"],[],["5bf50f3c.a185a"]]},{"id":"73125aed.f94124","type":"inject","z":"ce4019d4.a83e98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["50361a4f.d2c684"]]},{"id":"5aee30a1.01b7","type":"http in","z":"ce4019d4.a83e98","name":"","url":"/dev/restore-wifi","method":"get","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["dee099ad.ce2c28","986da1c1.e8996"]],"info":"Query-Params:\nssid: the Wifi SSID\npw: the password to set for the Wifi"},{"id":"dee099ad.ce2c28","type":"exec","z":"ce4019d4.a83e98","command":"sudo sh /home/pi/repos/rpi-zw-wifi-ap-switch/restore-backup.sh /home/pi/backup02","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":220,"wires":[["5bf50f3c.a185a"],[],["5bf50f3c.a185a"]]},{"id":"986da1c1.e8996","type":"http response","z":"ce4019d4.a83e98","name":"","statusCode":"","headers":{},"x":450,"y":40,"wires":[]},{"id":"e33cdd96.69242","type":"template","z":"ce4019d4.a83e98","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","output":"str","x":280,"y":40,"wires":[["986da1c1.e8996"]]},{"id":"5bf50f3c.a185a","type":"debug","z":"ce4019d4.a83e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":60,"wires":[]},{"id":"a9ccecc3.759cc","type":"uibuilder","z":"261967fc.c52618","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":400,"y":80,"wires":[["e40ba41f.accec8"],["e40ba41f.accec8"]]},{"id":"420f5011.a4e73","type":"inject","z":"261967fc.c52618","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["a9ccecc3.759cc"]]},{"id":"e40ba41f.accec8","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":80,"wires":[]},{"id":"8f58af71.c510e","type":"rpi-gpio in","z":"11fe1e85.4e60e1","name":"","pin":"7","intype":"up","debounce":"25","read":false,"x":90,"y":200,"wires":[["980f86b1.08d598","6250b396.56a18c"]]},{"id":"980f86b1.08d598","type":"debug","z":"11fe1e85.4e60e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":80,"wires":[]},{"id":"874d709d.dbb19","type":"join","z":"11fe1e85.4e60e1","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":200,"wires":[["980f86b1.08d598"]]},{"id":"84de0d08.ea425","type":"trigger","z":"11fe1e85.4e60e1","op1":"","op2":"{\"dir\":-1}","op1type":"nul","op2type":"json","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":890,"y":280,"wires":[["592bb75a.15d3e8"]]},{"id":"bf09d6d6.82fa08","type":"delay","z":"11fe1e85.4e60e1","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"milliseconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":990,"y":200,"wires":[["874d709d.dbb19","980f86b1.08d598"]]},{"id":"6c8fb5fe.dd44ec","type":"rpi-gpio in","z":"11fe1e85.4e60e1","name":"","pin":"40","intype":"up","debounce":"10","read":false,"x":100,"y":360,"wires":[["5cc98976.98f9a8"]]},{"id":"fccdca7b.dcc168","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.dir","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["6c72e6c6.70ed08"]]},{"id":"6c72e6c6.70ed08","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload.ts","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[["bf09d6d6.82fa08","84de0d08.ea425"]]},{"id":"5cc98976.98f9a8","type":"switch","z":"11fe1e85.4e60e1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":360,"wires":[["1b75cea7.f3e681"],["fccdca7b.dcc168"]]},{"id":"6250b396.56a18c","type":"switch","z":"11fe1e85.4e60e1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":200,"wires":[["67c966f6.b4b658"],["1b75cea7.f3e681"]]},{"id":"67c966f6.b4b658","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.dir","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["6c72e6c6.70ed08"]]},{"id":"1b75cea7.f3e681","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.dir","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["6c72e6c6.70ed08"]]},{"id":"592bb75a.15d3e8","type":"change","z":"11fe1e85.4e60e1","name":"","rules":[{"t":"set","p":"payload.ts","pt":"msg","to":"","tot":"date"},{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":280,"wires":[["874d709d.dbb19"]]},{"id":"bf6ed817.26e088","type":"config","z":"11fe1e85.4e60e1","name":"","properties":[{"p":"","pt":"flow","to":"","tot":"str"}],"active":true,"x":740,"y":440,"wires":[]},{"id":"6c1adae.172da24","type":"uibuilder","z":"261967fc.c52618","name":"","topic":"","url":"start","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":390,"y":140,"wires":[["e40ba41f.accec8","33cdbbb6.c55014"],["e40ba41f.accec8","33cdbbb6.c55014"]]},{"id":"d4f850bc.d42f5","type":"exec","z":"261967fc.c52618","command":"sudo iwlist wlan0 scan | grep ESSID","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":580,"wires":[["f6a801f0.0ebde"],[],[]]},{"id":"37089e3f.fc7052","type":"inject","z":"261967fc.c52618","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":580,"wires":[["d4f850bc.d42f5"]]},{"id":"ef3b1236.e5b7b","type":"split","z":"261967fc.c52618","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":580,"wires":[["7b3b62ca.119a3c"]]},{"id":"7b3b62ca.119a3c","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$match(payload, /^.*ESSID:\\\"(.+)\\\".*$/).groups[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":580,"wires":[["49e2723.c495a8c"]]},{"id":"49e2723.c495a8c","type":"switch","z":"261967fc.c52618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":580,"wires":[["cf64a32b.5dbf"]]},{"id":"69d61d72.dbcd44","type":"comment","z":"261967fc.c52618","name":"Wifi Scan - muss noch im AP mode getestet werden!","info":"","x":310,"y":520,"wires":[]},{"id":"a0426cf1.694ef","type":"comment","z":"81ab4a27.8ddcc8","name":"Need to set the configuration node dynamically!","info":"","x":760,"y":200,"wires":[]},{"id":"cf64a32b.5dbf","type":"join","z":"261967fc.c52618","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1250,"y":580,"wires":[["6c1adae.172da24"]]},{"id":"f6a801f0.0ebde","type":"function","z":"261967fc.c52618","name":"","func":"msg.payload = msg.payload.trim()\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["ef3b1236.e5b7b"]]},{"id":"33cdbbb6.c55014","type":"link out","z":"261967fc.c52618","name":"","links":["8ce3ade5.32a3a"],"x":575,"y":120,"wires":[]},{"id":"8ce3ade5.32a3a","type":"link in","z":"261967fc.c52618","name":"","links":["33cdbbb6.c55014"],"x":95,"y":280,"wires":[["c3123f4c.bbc9f","7d78f01c.af4dd"]]},{"id":"c3123f4c.bbc9f","type":"switch","z":"261967fc.c52618","name":"","property":"uibuilderCtrl","propertyType":"msg","rules":[{"t":"eq","v":"ready for content","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":260,"wires":[["3a31bda.fa56d42"]]},{"id":"12a6a709.1c8e49","type":"inject","z":"261967fc.c52618","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["6c1adae.172da24"]]},{"id":"3a31bda.fa56d42","type":"function","z":"261967fc.c52618","name":"keep _socketId","func":"socketId = msg._socketId\nmsg = {}\nmsg._socketId = socketId\nmsg.topic = \"wifi-ssids\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["d4f850bc.d42f5"]]},{"id":"7d78f01c.af4dd","type":"switch","z":"261967fc.c52618","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"updateSsids","vt":"str"},{"t":"eq","v":"connectToWifi","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":300,"wires":[["3a31bda.fa56d42"],["655f5826.42da38"]]},{"id":"655f5826.42da38","type":"function","z":"261967fc.c52618","name":"keep payload","func":"payload = {\n    ssid: msg.payload.ssid,\n    pw: msg.payload.pw\n}\nmsg = {}\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["ce671702.70af68"]]},{"id":"cfed888e.86e148","type":"template","z":"261967fc.c52618","name":"wpa_supplicant.conf","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=DE\n\nnetwork={\n        ssid=\"{{payload.ssid}}\"\n        psk=\"{{payload.pw}}\"\n}","output":"str","x":260,"y":840,"wires":[["bd609bdc.2c9928"]]},{"id":"bd609bdc.2c9928","type":"file","z":"261967fc.c52618","name":"","filename":"wpa_supplicant.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":500,"y":840,"wires":[["d3f36519.a0cc78"]]},{"id":"4d37501.ec3e9b","type":"exec","z":"261967fc.c52618","command":"ping -w 30 -q 8.8.8.8","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1980,"y":740,"wires":[["71443d22.ad9c44"],[],["17d350ac.ad43cf"]]},{"id":"7ff9524e.6666ec","type":"template","z":"261967fc.c52618","name":"dhcpcd.conf","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"# A sample configuration for dhcpcd.\n# See dhcpcd.conf(5) for details.\n\n# Allow users of this group to interact with dhcpcd via the control socket.\n#controlgroup wheel\n\n# Inform the DHCP server of our hostname for DDNS.\nhostname\n\n# Use the hardware address of the interface for the Client ID.\nclientid\n# or\n# Use the same DUID + IAID as set in DHCPv6 for DHCPv4 ClientID as per RFC4361.\n# Some non-RFC compliant DHCP servers do not reply with this set.\n# In this case, comment out duid and enable clientid above.\n#duid\n\n# Persist interface configuration when dhcpcd exits.\npersistent\n\n# Rapid commit support.\n# Safe to enable by default because it requires the equivalent option set\n# on the server to actually work.\noption rapid_commit\n\n# A list of options to request from the DHCP server.\noption domain_name_servers, domain_name, domain_search, host_name\noption classless_static_routes\n# Respect the network MTU. This is applied to DHCP routes.\noption interface_mtu\n\n# Most distributions have NTP support.\n#option ntp_servers\n\n# A ServerID is required by RFC2131.\nrequire dhcp_server_identifier\n\n# Generate SLAAC address using the Hardware Address of the interface\n#slaac hwaddr\n# OR generate Stable Private IPv6 Addresses based from the DUID\nslaac private\n\n# Example static IP configuration:\n#interface eth0\n#static ip_address=192.168.0.10/24\n#static ip6_address=fd51:42f8:caae:d92e::ff/64\n#static routers=192.168.0.1\n#static domain_name_servers=192.168.0.1 8.8.8.8 fd51:42f8:caae:d92e::1\n\n# It is possible to fall back to a static IP if DHCP fails:\n# define static profile\n#profile static_eth0\n#static ip_address=192.168.1.23/24\n#static routers=192.168.1.1\n#static domain_name_servers=192.168.1.1\n\n# fallback to static profile on eth0\n#interface eth0\n#fallback static_eth0\n","output":"str","x":230,"y":800,"wires":[["ac8c4aaf.f3f608"]]},{"id":"ac8c4aaf.f3f608","type":"file","z":"261967fc.c52618","name":"","filename":"/etc/dhcpcd.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":480,"y":800,"wires":[["2756ecf7.916ab4"]]},{"id":"71443d22.ad9c44","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$parseInteger(\t$match(payload, /(\\d{1,2})% packet loss/).groups[0],\t\"0\"\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":720,"wires":[["ad3e180a.118a38"]]},{"id":"ad3e180a.118a38","type":"switch","z":"261967fc.c52618","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2350,"y":720,"wires":[["bafe6360.d7c5d","64bb1e3e.c2047"]]},{"id":"a34eaa73.51cf48","type":"link in","z":"ce4019d4.a83e98","name":"start-wifi-ap","links":["cec66116.c662"],"x":55,"y":280,"wires":[["50361a4f.d2c684"]]},{"id":"1d23333a.3e101d","type":"exec","z":"261967fc.c52618","command":"sudo sh /home/pi/repos/rpi-zw-wifi-ap-switch/stop-wifi-ap.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"stop wifi ap","x":230,"y":740,"wires":[[],[],["d409e95d.b00498"]]},{"id":"c3293255.816ee","type":"exec","z":"261967fc.c52618","command":"sudo systemctl restart dhcpcd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"restart dhcpcd","x":1600,"y":740,"wires":[[],[],["cab2c71c.404e58"]]},{"id":"b03f1570.769df8","type":"exec","z":"261967fc.c52618","command":"sudo sh /home/pi/repos/rpi-zw-wifi-ap-switch/start-wifi-ap.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":1000,"wires":[[],[],[]]},{"id":"2756ecf7.916ab4","type":"join","z":"261967fc.c52618","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":740,"wires":[["c3293255.816ee"]]},{"id":"d409e95d.b00498","type":"switch","z":"261967fc.c52618","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":740,"wires":[["2756ecf7.916ab4"],["add286b9.25ee28"]]},{"id":"47284ff3.765fb","type":"template","z":"261967fc.c52618","name":"dhcpcd.conf","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"interface wlan0\nstatic ip_address=192.168.1.1/24\n","output":"str","x":330,"y":1000,"wires":[["8b60a7d6.399688"]]},{"id":"8b60a7d6.399688","type":"file","z":"261967fc.c52618","name":"","filename":"/etc/dhcpcd.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":520,"y":1000,"wires":[["b03f1570.769df8"]]},{"id":"cab2c71c.404e58","type":"switch","z":"261967fc.c52618","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1770,"y":740,"wires":[["4d37501.ec3e9b"],["dc32770d.3399d8"]]},{"id":"96a862f7.cf568","type":"inject","z":"261967fc.c52618","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":960,"wires":[["47284ff3.765fb"]]},{"id":"9069219b.75f6d","type":"inject","z":"261967fc.c52618","name":"","topic":"","payload":"{\"ssid\":\"mielenkiintoinen\",\"pw\":\"$urfit23!\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["655f5826.42da38"]]},{"id":"17d350ac.ad43cf","type":"switch","z":"261967fc.c52618","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2350,"y":760,"wires":[["bafe6360.d7c5d"]]},{"id":"d3f36519.a0cc78","type":"exec","z":"261967fc.c52618","command":"sudo cp wpa_supplicant.conf /etc/wpa_supplicant/wpa_supplicant.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"write wpa_supplicant.conf","x":750,"y":840,"wires":[[],[],["c5b2570f.50b188"]]},{"id":"a692d537.d86b18","type":"file","z":"261967fc.c52618","name":"","filename":"wpa_supplicant.conf","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1180,"y":840,"wires":[["2756ecf7.916ab4"]]},{"id":"7bf0c5c7.f9cf8c","type":"link in","z":"261967fc.c52618","name":"","links":["6fefb033.ab4b5","dc32770d.3399d8","bafe6360.d7c5d","add286b9.25ee28"],"x":195,"y":1000,"wires":[["47284ff3.765fb"]]},{"id":"6fefb033.ab4b5","type":"link out","z":"261967fc.c52618","name":"","links":["7bf0c5c7.f9cf8c"],"x":1075,"y":880,"wires":[]},{"id":"dc32770d.3399d8","type":"link out","z":"261967fc.c52618","name":"","links":["7bf0c5c7.f9cf8c"],"x":1895,"y":800,"wires":[]},{"id":"bafe6360.d7c5d","type":"link out","z":"261967fc.c52618","name":"","links":["7bf0c5c7.f9cf8c"],"x":2455,"y":740,"wires":[]},{"id":"c5b2570f.50b188","type":"switch","z":"261967fc.c52618","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":840,"wires":[["a692d537.d86b18"],["6fefb033.ab4b5"]]},{"id":"add286b9.25ee28","type":"link out","z":"261967fc.c52618","name":"","links":["7bf0c5c7.f9cf8c"],"x":535,"y":760,"wires":[]},{"id":"ce671702.70af68","type":"link out","z":"261967fc.c52618","name":"","links":["96a36c68.61426"],"x":495,"y":360,"wires":[]},{"id":"96a36c68.61426","type":"link in","z":"261967fc.c52618","name":"","links":["ce671702.70af68"],"x":95,"y":780,"wires":[["7ff9524e.6666ec","cfed888e.86e148","1d23333a.3e101d"]]},{"id":"71bed149.faa52","type":"exec","z":"ce4019d4.a83e98","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":340,"wires":[["bf19af0c.b1e55"],[],[]]},{"id":"d910a91.4113658","type":"inject","z":"ce4019d4.a83e98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["71bed149.faa52"]]},{"id":"bf19af0c.b1e55","type":"debug","z":"ce4019d4.a83e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":340,"wires":[]},{"id":"e1846418.7c3fd8","type":"exec","z":"261967fc.c52618","command":"ip route get 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":1120,"wires":[["930ba872.dbd518"],[],[]]},{"id":"64bb1e3e.c2047","type":"link out","z":"261967fc.c52618","name":"","links":["72f6d50c.57f98c"],"x":2515,"y":720,"wires":[]},{"id":"72f6d50c.57f98c","type":"link in","z":"261967fc.c52618","name":"","links":["64bb1e3e.c2047"],"x":200,"y":1160,"wires":[["e1846418.7c3fd8"]]},{"id":"b2cae062.64b9f","type":"inject","z":"261967fc.c52618","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1120,"wires":[["e1846418.7c3fd8"]]},{"id":"930ba872.dbd518","type":"change","z":"261967fc.c52618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$match($trim(payload), /((\\d{1,3}\\.){3}\\d{1,3})/)[2].groups[0]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1120,"wires":[["5e574bdb.b0d934"]]},{"id":"5e574bdb.b0d934","type":"debug","z":"261967fc.c52618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":1120,"wires":[]},{"id":"11f78139.fb709f","type":"comment","z":"261967fc.c52618","name":"Get the new IP","info":"","x":190,"y":1060,"wires":[]}]